[2015-06-25 22:11] rynowak opened #5 "Provide appropriate error message in case of missing antiforgery tokens"
Moved from: https://github.com/aspnet/Mvc/issues/1210

Scenario as mentioned in below article:
http://www.asp.net/web-api/overview/security/preventing-cross-site-request-forgery-(csrf)-attacks

The error message says `The required anti-forgery cookie "__RequestVerificationToken" is not present`...notice that it mentions the form field name here...

[code]
Error Message

[2015-06-25 22:11] rynowak commented on #5
Looked into this more, the bug here is that the overload where the caller **passes in** the token, we're still including the form field name in the message. We have no idea where you got the token, this should thrown here as an `ArgumentNullException` and the proper exception thrown by the caller.

[2015-07-07 17:41] muratg commented on #5
@Tratcher

[2015-08-02 22:57] AerisG222 opened #7 "AntiforgeryOptions.RequireSsl enhancement"
The current implementation enforces that if this option is enabled that the incoming request must occur over SSL.  This causes an issue when you have SSL terminated on a frontend server, such as hosting a site on nginx.

The authentication system allows for the secure flag to be set regardless of the SSL state of the request.  See: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.A

[2015-08-03 16:29] danroth27 commented on #7
We should remove the RequireSsl option and adopt the same options as the cookie middleware for configuring the cookie security.

[2015-08-06 16:58] #5 closed

[2015-08-06 16:59] rynowak commented on #5
9bcecf39948ff9f7e5755b7972ec348af0eb900e

[2015-08-08 20:13] PinpointTownes opened #10 "React to System.Security.Cryptography.* changes in CoreFX"
https://github.com/dotnet/corefx/commit/ce0506baea623efdb74707aee0e4aa169d6f468c

![image](https://cloud.githubusercontent.com/assets/6998306/9151283/543630a0-3dfd-11e5-9d66-d5b3e0d73dbd.png)

/cc @Tratcher

[2015-08-11 21:29] #10 closed

[2015-09-21 09:50] gauravbhavsar opened #14 "AntiForgeryToken is broken - Server cannot append header after HTTP headers have been sent."
I am implementing AntiForgeryToken my login form.

When I run project, its call Account/Login Get mothod and return view() i.e login.cshtml

In login.cshtml view page, I have

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form1" }))
    {
        @Html.AntiForgeryToken(); // throw exception
        <label class="username_styl

[2015-09-21 15:12] rynowak commented on #14
This message means that something is happening that's causing the server to start sending data back to the client before you add the cookie for antiforgery. Do you have a `Flush()` in your layout page?

If you have a small isolated repro of this you put in a repository we have access to we can help you troubleshoot the problem.

[2015-09-25 18:08] dibiancoj opened #16 "Cookie Token is blank"
Hi,
I'm using angular along with asp.net 5. I'm trying to store the cookie / form token so I can pass it into the controller on an ajax post. Everything is fine when in debug mode. When I go to the publish to IIS the cookie token is always blank.

     Constructor (IAntiforgery antiforgery)
    {
    }

      Method  var token = Antiforgery.GetAndStoreTokens(Context);

      token.CookieToken is b

[2015-09-26 00:47] #16 closed

[2015-09-26 02:08] dibiancoj commented on #16
Not sure if this a bug or not. I was able to replicate this easily by loading the page. Hit f5, the cookie value would be null. I could replicate it 50% of the time by just loading the page initially. It looks like it has to do with re-using the same cookie (just a guess). I ended up doing the following which finally works 100% of the time:

In startup.ConfigureServices

                services.C

[2015-09-26 17:34] Eilon commented on #14
Closing until we have a repro. This is almost certainly what @rynowak stated. If you can share a repro project we can take another look at this.

[2015-09-26 17:34] #14 closed

[2015-09-27 05:58] gauravbhavsar commented on #14
Sorry for late reply, I created new project and I am not able to regenerate an issue, may be @rynowak  is right that something is happening that's causing the server to start seding data back to the client. So I created new new project and transfer all login and code to new created project and from now I am not getting such error. And also cliam Antiforgery Token in global.

    AntiForgeryConfig.

[2015-09-30 09:16] iaguilera opened #17 "Antiforgery for AJAX calls"
It would be nice that ValidateAntiForgeryTokenAttribute (or DefaultAntiforgeryTokenStore) search token in headers too, not only in values posteds from forms.

So we can easily apply CSRF protection in Ajax calls to REST services (angularjs or jquery apps).

[2015-09-30 18:03] dibiancoj commented on #17
+1 for the concept. Or make it configurable in startup.

       pubic enum TokenStoreLocationEnum
       {
        Form
        Header
       }

----------------------------------------------------

            services.ConfigureAntiforgery(options =>
            {
                  options.TokenStoreLocation= TokenStoreLocationEnum.Header
             });

Something like this?

[2015-09-30 18:12] iaguilera commented on #17
Yes it looks good :-)... Like the possibility of enable both at the same time maybe we have mvc controllers (forms) and web api controllers (header) in the same project...

[2015-09-30 22:23] dibiancoj commented on #17
Then the attribute [ValidateAntiForgeryToken] would look in either the form, header, or both depending what is configured. If the framework can write 10 lines so 200,000 developers won't have to that would great.

[2015-10-01 13:10] kichalla commented on #17
I think we should at least make the `GetRequestTokensAsync` method virtual?
https://github.com/aspnet/Antiforgery/blob/dev/src/Microsoft.AspNet.Antiforgery/DefaultAntiforgeryTokenStore.cs#L61

[2015-10-01 16:27] danroth27 commented on #17
@blowdart

[2015-10-01 17:16] blowdart commented on #17
So from a security perspective the "most correct" approach is to use a non-persistent authentication mechanism when making ajax calls, as that is not vulnerable to CSRF.

However I realise not everyone wants to write a token exchange and refresh mechanism.

So being pragmatic it's a workable idea, however I don't like the idea of a global configuration.

To my mind it ought to be configured at the

[2015-10-11 17:22] GuardRex opened #19 "Setting the Machine Key as usual? ... or any other gotchas for web farm scenarios?"
We'll be setting the Machine Key as usual for .NET 5 apps using Antiforgery in web farm scenarios, correct?

If so, this might be a feature request: Any interest in providing some control of the Machine Key somewhere in `Startup.cs` (or does that already exist)? Continuing to use `web.config` sucks, and IIS settings are inconvenient.

Besides the Machine Key, are there any other gotchas we should

[2015-10-12 06:59] GuardRex commented on #19
Related: https://github.com/aspnet/Home/issues/240

@GrabYourPitchforks, was a sample ever produced for setting Machine Key (for Antiforgery for example) using https://github.com/aspnet/dataprotection?

[2015-10-13 16:39] danroth27 commented on #19
@blowdart

[2015-10-13 16:54] blowdart commented on #19
Incorrect.

There's no such thing as Machine Key any more.

Instead you need to configure [data protection](https://docs.asp.net/en/latest/security/data-protection/index.html) to use a shared key ring.

How you do this depends on your web farm setup. The simplest example would be an NTFS share, which is a scenario we support out of the box - https://docs.asp.net/en/latest/security/data-protection/

[2015-10-13 18:01] #19 closed

[2015-10-20 16:50] Tratcher commented on #7
@AerisG222 for reverse proxy scenarios it's recommended that the scheme be forwarded from the proxy and applied to the request. Without this you'll have trouble generating correct links, etc..

/cc: @blowdart

[2015-10-23 14:02] AerisG222 commented on #7
@Tratcher what is the scenario you are thinking where the links (etc) would not be properly generated?  In my scenario, I am forcing SSL throughout the entire site, so do not have scenarios of flipping schemes, and links within the application work as expected because they do not specify scheme or host for that matter.

Additionally, I believe it is somewhat common for sites to perform SSL offload

[2015-10-24 12:37] Tratcher commented on #7
I didn't say you needed to use HTTPS between your front-end and your back-end, I said your front-end needs to tell the back-end that HTTPS was used on the public connection. A common way of doing this is for the front-end to set the x-forwarded-proto header, and for the back-end to update the Request.Scheme field accordingly. The OverrideHeaderMiddleware (https://github.com/aspnet/BasicMiddleware/

[2015-10-26 22:47] AerisG222 commented on #7
@Tratcher  thanks for the explanation, this is very helpful.  I was not aware of the middleware you referenced, thank you for pointing that out.

I don't appreciate all the details, but this still feels a bit inconsistent.  Per the above comment, I believe the system will provide a means to support this scenario as is.

@kichalla if there is no additional work for this, please feel free to close.

[2015-10-26 22:57] kichalla commented on #7
Thanks @AerisG222 ...I will close this for now.

[2015-10-26 22:57] #7 closed

[2015-11-05 19:00] borgdylan commented on #17
I have already done this in a way that works well with angular. I set up an MVC endpoint that creates the required cookie (which angular reads and posts as a header in all further requests). I also did an authorization filter that validates the header. If a better way could be found that doesn't require me to JSONify and base64 encode the AntiForgery token set I'd be happier.

[2015-11-11 23:31] Eilon opened #22 "Add functional test that runs the sample site and verifies it works"

[2015-11-21 02:15] rynowak opened #23 "Improve the performance of Antiforgery"
Right now the cost of using `@Html.Antiforgery` is about 7.5kb / request. In the context of a small MVC form, this is about 15% of the total bytes. We can do much better.

Some places to start looking.

Strings:
![image](https://cloud.githubusercontent.com/assets/1430011/11316049/71f184c6-8fb2-11e5-9ac2-b95493e37d4b.png)

Bytes:
![image](https://cloud.githubusercontent.com/assets/1430011/11316055/

[2015-11-21 04:11] dougbu commented on #23
@rynowak this report duplicates existing issues such as #3123 since `new HtmlString()` is used to make things worse in `@Html.Antiforgery()`. I'll ignore anti-forgery over the weekend. But let's discuss possible overlaps on Monday.

[2015-11-23 16:11] rynowak commented on #23
Let's talk about avoiding overlap then :+1: I didn't realize part of this was already tracked.

The byte[] stuff AFAIK is hitherto untracked work.

[2015-11-25 21:58] sstublic commented on #17
I've just encountered this same issue and am looking into making IAntiforgeryTokenStore with one small change: if either content-type is not form or token field is not found in the form, check for header with the same name (maybe prefixed? I don't like the 'X' variant). Only if there is no token in either of these throw an exception.

It's up to the client-side code how to put the token into heade

[2015-11-25 22:14] Eilon commented on #23
@dougbu please continue to work with @rynowak on how to approach this.

[2015-12-15 17:55] rynowak commented on #17
Pulling this out of the backlog.

Our rough plan here is to support falling back from form to header in the case of a form-post, or just looking at the header in the case of a non-form-post.

Since angular and other clients have this support built in, the hope is that we'll play together nicely.

[2015-12-15 18:02] borgdylan commented on #17
:+1:

[2015-12-15 18:04] iaguilera commented on #17
nice!

[2015-12-15 22:18] rynowak commented on #17
3280ff6ac55aee20953fbcb7284dcdcb93aa07dd

[2015-12-15 22:18] #17 closed

[2015-12-16 10:59] janpieterz opened #28 "Consider throwing a 400 instead of a 500"
Not sure if it should be here or in MVC, but this seems like the right place.

I'm playing around with getting this to work for API calls. I notice that when I don't deliver an anti forgery token, the request results in a 500. Maybe this is just me, but shouldn't this be a 400? The server shouldn't fail (and log a 500) simply because I (or any other third party) forgets to add this token (read: ba

[2015-12-16 19:14] artemgrygor opened #29 "Correct usage of AntiForgery token in ASP.NET 5 in SPA application?"
In previous version of ASP.NET during SPA application the idea of AntiForgey token was following:

* add `@Html.AntiForgeryToken();` on the page
* add `__RequestVerificationToken` to the request
* override AuthorizeAttribute as ValidateJsonAntiForgeryTokenAttribute.

I don't really understand the authorization requirements (is there some good information source?) in ASP.NET 5 but looks like new be

[2015-12-16 20:13] rynowak commented on #28
Yeah, the logging aspect of this is probably pretty relevant. I think a big part of the reason why we historically throw (500) here is that it's expected to be a programming error on the part the app developer.

This isn't an exception you'd ever want to handle in application code. At the same time, we don't want to redirect you into an auth flow since it's a misconfigured client.

@lodejard @blow

[2015-12-16 21:13] kscott5 commented on #29
Then ASP.NET 5 isn't ready? SPA framework namely angularjs using $resource to perform an ajax post to RESTful service. It appears I would need to create some custom pre-filter attribute to validate the antiforgery token. I did notice the dev branch appears to implement a header token to handle this cause. So why wasn't this added to release (RC1)

[2015-12-16 21:18] artemgrygor commented on #29
@kscott5 you're right, ASP.NET 5 is only rc1 now. You can't create pre-filter attribute anymore. According to this answer http://stackoverflow.com/a/31465227
I've found only this implementation on MusicStore https://github.com/aspnet/MusicStore/blob/master/src/MusicStore/Controllers/ShoppingCartController.cs#L62

However this is bad one. So looks like it should be a custome middleware  which reuse

[2015-12-16 21:19] rynowak opened #30 "Review generation of UID in DefaultClaimUidExtractor"
According to @blowdart and @lodejard the way we generate the UID for a `ClaimsPrincipal` is wrong in antiforgery.

We should use the `ClaimsIdentity.NameClaimType` of **all** authenticated identities to generate the UID rather than looking for a claim of type `ClaimTypes.NameIdentifier`.

We need to also figure out the right thing to do (or if it's possible) when the user does not have a name.

[2015-12-17 00:51] davidfowl commented on #29
Time machines are hard.

[2015-12-17 01:00] rynowak commented on #29
There's a few different approaches and ways to go with this. I've opened a PR with the sample I wrote in parallel to the feature. https://github.com/aspnet/Antiforgery/pull/31

We're certainly all ears when it comes to making this easier in the framework.

This sample is based on Angular and sets up the necessary state to have Angular interoperate ASP.NET Antiforgery. See info here: https://docs.a

[2015-12-17 15:38] kscott5 commented on #29
@davidfowl That's hilarious.

@rynowak Unfortunately the AntiforgeryOptions does not include the HeaderName property in RC1 but I believe I can work around this by using the middleware suggestions and avoid the Antiforgery pre-filter attribute.

I see what I come up with.

[2015-12-17 20:05] rynowak commented on #29
@kscott5 - If you want this to work on rc1, I'd suggest replacing the `IAntiforgeryTokenStore` and copying from the rc2 implementation. https://github.com/aspnet/Antiforgery/commit/3280ff6ac55aee20953fbcb7284dcdcb93aa07dd#diff-b6e9c2bfe3926a98f35010c4e094e419R76

Lines 75-88 have the logic you need. The rest of that commit is just renames and error handling.

[2015-12-18 13:38] artemgrygor commented on #29
Thanks guys, gonna play with this over the weekend.

[2015-12-18 19:59] kscott5 commented on #29
I've followed the changes since last year, and impressed with what I've tried.

@rynowak You saved me sometime cause in the past I had to create custom stores for Identity, etc. So you just saved me sometime. Thanks.

[2015-12-22 00:09] ryanbrandenburg commented on #22
@Eilon I started to work on this then realized something similar exists in MVC repo. Do we just want to move that to the Antiforgery repo? If not what are the differences we want to cover?

[2015-12-22 20:45] rynowak commented on #22
The purpose of having a test is to make sure the sample works and keeps working.

[2015-12-28 23:31] Eilon commented on #28
I'm fine changing this to a 400 - the client made an error and "forgot" to send the token. (Of course, philosophically, any client error *could* be conceived of as a server error because the programmer "forgot" to program something - support for a certain URL, verb, header, etc.)

[2015-12-28 23:32] Eilon commented on #28
@rynowak BTW why the "auth flow" remark? A 400 won't take you to an auth flow (only 401/403 would do that).

[2015-12-29 22:21] rynowak commented on #28
I know that I don't know anything about auth.

[2015-12-29 23:32] Eilon commented on #29
@rynowak will your updated features and guidance cover everything discussed here?

[2015-12-30 22:33] Eilon commented on #30
@ajaybhargavb please discuss with @Tratcher to understand the multi-name and no-name scenarios.

[2015-12-31 01:44] brockallen commented on #30
Side note related to this: anti-forgery tokens that are issued when a user is anonymous, and then the user becomes authenticated caused problems in the past. This was due to the inclusion of the user's id in the xsrf token. Will this still be the case in asp.net 5?

[2015-12-31 08:10] leastprivilege commented on #30
The `Name` claims is a display name - you want to use a claim that has the unique id of the user - that would be the `sub` claim (https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims) - but since you are stuck in medieval aka WS* times - `NameIdentifier` comes closest.

Historically `Name` or `IIdentity.Name` had no clear semantics and was often used for one or the other - the MS t

[2016-01-04 20:07] ajaybhargavb commented on #28
Spoke to @pranavkm and @lodejard. Since there is a possibility for 500 to be thrown due to multiple reasons, the idea was to throw a custom `AntiforgeryException` for cases we want to throw a bad request which we can then catch in `ValidateAntiforgeryTokenAuthorizationFilter` and throw a 400.
Thoughts @Eilon @rynowak ?

[2016-01-05 16:23] rynowak commented on #28
So, I totes love custom exception types, but there's a difference between a failure of the antiforgery system, and an invalid token. Are you talking about the former or the latter?

[2016-01-05 19:47] ajaybhargavb commented on #28
Spoke in person. We decided to throw a custom exception for no/invalid token cases and let the other cases just throw a 500.

[2016-01-07 00:14] ryanbrandenburg commented on #22
Closed in #33

[2016-01-07 00:15] #22 closed

[2016-01-07 23:15] ajaybhargavb commented on #28
80fa2908bdacd6d0d45852a4264bc2873bbce2ea

[2016-01-08 18:54] ajaybhargavb commented on #28
aspnet/Mvc@bf1fcf6b56c8354b87da3100a0c9d6ef65a44653

[2016-01-08 18:54] #28 closed

[2016-01-14 20:51] Eilon commented on #29
@rynowak ping

[2016-01-14 20:57] rynowak commented on #29
Yes, I'm not aware of anything else we need to in antiforgery to light up these scenarios.

[2016-01-14 21:34] Eilon commented on #29
@rynowak so what MusicStore has right now shows the recommended pattern for antiforgery in a SPA scenario?

[2016-01-14 21:47] rynowak commented on #29
yes

[2016-01-14 21:51] #29 closed

[2016-01-21 20:30] blowdart opened #36 "Add optional token expiry"
Office would like this. You can do it by using a time limited data protection payload.

https://docs.asp.net/en/latest/security/data-protection/consumer-apis/limited-lifetime-payloads.html

[2016-01-23 01:29] Eilon commented on #36
Moving to backlog.

[2016-02-03 00:58] dougbu commented on #23
- 492c079
- 0ddfa5f
- At least one more bit coming after extending the `WebEncoders.Base64UrlEncode()` / `WebEncoders.Base64UrlDecode()` API.

[2016-02-03 16:02] rynowak commented on #23
We should also verify that we're not paying the cost of re-serializing the cookie token when a request provides one. Here's the scenario:

**Request 1** GET /Products/Edit/5
Client: no tokens provided
Server: sets cookie token and renders request token in the form

**Request 2** POST /Products/Edit/5
Client: provides cookie token and request token
Server:
    - deserializes the cookie and request

[2016-02-03 19:58] dougbu commented on #23
FYI @rynowak I'm doing the check you suggest. Suspect all is well because `tokenSet.IsNewCookieToken` handling at least appears correct.

[2016-02-03 20:18] dougbu commented on #23
In @rynowak's scenario, Antiforgery avoids the (significant) overhead of adding the cookie token to the response headers. But MVC uses `IAntiforgery.GetHtml()` and that invokes `IAntiforgery.GetAndStoreTokens()` which is `public` and unconditionally returns the full token set. This means the cookie token is re-serialized even when unchanged. The caller doesn't even examine the token set.

Quick fi

[2016-02-03 20:45] rynowak commented on #23
Let's catch up to chat about your changes real quick, this is related to something I was working on.

[2016-02-04 00:22] rynowak opened #44 "Add logging to antiforgery"
We should add logging

Some ideas:
- Validating a token (verbose)
- Validation failure / missing token (warning)

Thinking warning is right for failures, because generally this is a app configuration issue.

[2016-02-04 06:18] Eilon commented on #44
Yeah this is hugely important, and I agree with the proposed log levels.

[2016-02-05 20:36] blowdart commented on #30
OK so.

Look for a "sub" claim first. If it's present use that, the value and the issuer.
If it's not present look for a ClaimTypes.NameIdentifer property. If it's present use that, the value and the issuer
If that's not present look for ClaimTypes.Upn. If it's present, use that, the value and the issuer

And then if nothing of the above is present, sha256 the entire identity.

Throwing seems rath

[2016-02-05 20:39] brockallen commented on #30
The one last comment about this is that using the authenticated user's identifier tends to break antiforgery once the user toggles between anon and authenticated (as it did in prior versions of MVC).

[2016-02-05 20:44] blowdart commented on #30
Which I'm good with :)

[2016-02-05 20:44] blowdart commented on #30
Added bonus - make sure you check all identities on the principal, and have configuration so a developer can specify a claim to use if needed.

[2016-02-05 20:45] blowdart commented on #30
Oh wait, hmmm, yea, when a user logins the CSRF token would no longer be valid. Argh.

[2016-02-05 20:53] brockallen commented on #30
Or if user has 2 tabs open. But sure, it's a narrow window of problems, but we saw them every once in a while with MVC 4 & 5 (with IdentityServer2).

[2016-02-05 21:26] blowdart commented on #30
I'm not so worried about the two tab problem - if they already have a token, which they would get on the first request, we'll reuse that. It doesn't change between pages.

[2016-02-05 21:34] Tratcher commented on #30
No, but your auth cookies can be changed by actions in one tab while you're filling out the form on the other one.

[2016-02-05 21:35] blowdart commented on #30
True. I'm kinda ok breaking at that point, if you've logged in on one tab and not another

[2016-02-05 21:38] brockallen commented on #30
Imagine you submit a login (current request is anon, so you have an anon antixsrf). The result of the login page (for whatever reason) does not redirect, but renders a new form. That form's anti-xsrf is under the impression that you're anon, but now you've got an auth cookie. When you submit this newly rendered page they don't line up.

That was the scenario I saw people hitting (more than one) in

[2016-02-05 21:39] blowdart commented on #30
Are we agreed though that the token should regenerate / change when someone logs in?

[2016-02-05 21:41] brockallen commented on #30
I guess I never understood why the user's identity was incorporated into the antixsrf token. RoR does not do this. What's the additional protection from doing this (if I may ask)?

[2016-02-05 21:46] blowdart commented on #30
Well to be fair rails doesn't do auth, that's left to 3rd parties.

It's to stop CSRF dropping an auth cookie for an authenticated user by an attacker, which can then be used to produce a known value.

[2016-02-05 21:47] lodejard commented on #30
/cc @GrabYourPitchforks as well in case he has addtl specifics on the history

[2016-02-05 21:48] blowdart commented on #30
I just emailed him :) So the cookie part of the token is basically a session identifier. It's only the form based half that contains the UID part, so login works just fine.

[2016-02-05 21:54] brockallen commented on #30
Well, this repo for anti-xsrf is also arguably independent from the rest of ASP.NET, no? Meaning, can you assume the use of cookie authentication? Maybe you can... just thinking out loud (not arguing for anything).

But if the login form has xsrf, then wouldn't that protect against this? Also, how would the xsrf attacker get a known value of it's CRNG? I guess I'm missing the attack vector.

[2016-02-05 21:55] blowdart commented on #30
No, it's not assume cookie, it'll use any valid identity on the principal.

Anon users get a simple match, drop csrf cookie with value. Match it against the value in the form. So, you can set it if you got XSS, and lo, the next form generated will use it.

[2016-02-05 22:04] brockallen commented on #30
I meant to re-gen the antixsrf when the identity changes. Would that be done somehow related to the cookie MW, or do you detect if the identity is different?

Well, if there's XSS then you have bigger problems.

[2016-02-05 22:12] blowdart commented on #30
It also protects against supercookies, i.e. someone on badsite.azurewebsites.net dropping a CSRF cookie for azurewebsites.net

[2016-02-05 22:16] brockallen commented on #30
LOL that's what they get for running in a shared host name. same for localStorage, sessionStorage, CSP, etc... :)

[2016-02-05 22:20] dougbu commented on #30
In the default Antiforgery configuration, the cookie token contains no identify information. That's left to the request token (aka form or header token). And the request token is regenerated in every request.

Put another way, `IClaimUidExtractor.ExtractClaimUid()` is used at the end of a request as part of request token generation. If the user's going to get logged in, they're already logged in.

[2016-02-08 20:42] rynowak commented on #44
Had some discussion and this is what we came up with.

`IsRequestValidAsync(..)` will log success (debug) and failure (warning)
`ValidateRequestAsync(...)` will log success (debug) - failure is covered by an exception
`GetAndStoreTokens(...)` will log whether a token was reused or generated (debug)

[2016-02-09 19:52] ryanbrandenburg commented on #44
@dougbu would like to also add logging around the decisions to generate or reuse tokens in `SetCookieTokenAndHeader`, `GetTokens->GetTokensInternal` and `SetCookieTokenAndHeader`. Will circle back around to it after he makes the changes to that area he's working on in #23

[2016-02-09 23:34] dougbu commented on #23
Part 3 for @rynowak [scenario](https://github.com/aspnet/Antiforgery/issues/23#issuecomment-179313157): 73695fc

[2016-02-10 17:09] rynowak commented on #23
@dougbu - what's the status of this now that 3 parts of work have been done? Is there anything left to do? What do the numbers look like?

[2016-02-10 20:55] dougbu commented on #23
That wasn't the part 3 that I [originally planned](https://github.com/aspnet/Antiforgery/issues/23#issuecomment-178929139). Numbers are now as shown in the #51 After pic. Working on the web encoding (last) bit now.

[2016-02-16 18:18] #30 closed

[2016-02-17 19:58] #44 closed

[2016-02-17 20:07] Eilon commented on #44
Done done done done... (like, Beethoven style)

[2016-02-18 07:20] dougbu commented on #23
Part 4: 478edc1 and aspnet/HttpAbstractions@8c120a0

[2016-02-18 07:20] #23 closed

[2016-02-23 01:52] PinpointTownes opened #60 "DefaultAntiforgery.SaveCookieTokenAndHeader should not override stricter X-Frame-Options headers"
Currently, `SaveCookieTokenAndHeader` always replaces the `X-Frame-Options` header with its own value, even if a stricter header has already been added to the response headers by another middleware (e.g NWebsec).

Of course, `SuppressXFrameOptionsHeader` could be used to prevent `SaveCookieTokenAndHeader` from updating the `X-Frame-Options` header but I believe it would be better to add a check to

[2016-02-23 02:18] blowdart commented on #60
Not sure we want to evaluate "Stricter". This probably indicates nwebsec should be further down the pipeline though.

[2016-02-23 02:33] PinpointTownes commented on #60
I don't think it would work. At least, not with MVC, as it's terminating when it handles a request.

Another option for NWebsec would be to apply the security headers after invoking `await next()`. Sadly, this has serious implications and would likely require buffering (or it wouldn't be able to replace the response headers).

[2016-02-23 17:16] rynowak commented on #60
I'd suggest we change this feature to set the value of the header only if unset. If you set this header already then you did it on purpose.

[2016-02-23 18:17] Eilon commented on #60
@rynowak yeah that would seem to follow a common pattern we have elsewhere.

[2016-02-24 20:45] IEvangelist opened #61 "`Microsoft.AspNet.Antiforgery.DefaultAntiforgery.ValidateRequestAsync` always fails"
I have attempted to follow the sample source provided [here](https://github.com/aspnet/Antiforgery/tree/1.0.0-rc1/samples/AntiforgerySample). I'm currently using `"Microsoft.AspNet.Antiforgery": "1.0.0-rc1-final"`. The sample source code seems to work "ok" but I really want something more like the current version [here](https://github.com/aspnet/Antiforgery/tree/dev/samples/AntiforgerySample).

I

[2016-02-24 21:21] rynowak commented on #61
Our antiforgery system uses two tokens.

The "cookie" token is set in a cookie and will be sent back by the browser automatically with every request.

The "request" token should be rendered as part of a page [see here](https://github.com/aspnet/Antiforgery/blob/1.0.0-rc1/samples/AntiforgerySample/FormPostSampleMiddleware.cs#L36). The client needs to send it back to the server in a form post (rc1-r

[2016-02-25 12:55] IEvangelist commented on #61
I'm not doing a form's post, I'm doing _Web API_ calls. I certainly should have prefaced this with that initially. I started down the route of using the `ValidateAntiForgeryTokenAttribute` with corresponding `@Html.AntiForgeryToken()` but realized that wouldn't work for my _Web API_ calls as I'm not posting the "__RequestVerificationToken" generated as a hidden input. I then stumbled upon the `Ant

[2016-02-25 12:55] #61 closed

[2016-02-26 20:26] rynowak commented on #61
Ok, thanks - the workaround for copying the header value into form-values should work on RC1 if you need this sooner.

[2016-02-26 20:31] IEvangelist commented on #61
It threw an exception claiming that the form and cookie tokens were swapped.

Sent from my iPhone

[2016-02-26 20:37] rynowak commented on #61
Can you paste in your code? (or just ignore if you'd rather not mess with this until RC2 is available)

[2016-02-26 20:50] IEvangelist commented on #61
I don't have it with me right now, away from my PC. But I'm confused how you think this will work, there is no form being posted - how does that work when it's just an API HTTP POST? The `content-type` is `application/json` not any of the valid form types?

Sent from my iPhone

[2016-02-26 20:55] rynowak commented on #61
The code that I shared manually copies the request token into the form. It's a workaround, but I believe the RC1 code will still look at the form data if you're using `ValidateRequestAsync` regardless of content type.

[2016-02-26 21:09] IEvangelist commented on #61
RC1 only has a CookieToken and FormToken, I do not see a RequestToken. At this point, I'll just wait for RC1 -- I hope it comes soon.  :)

Thanks for your help!

Sent from my iPhone

[2016-03-02 22:36] HaoK opened #62 "Consider making DefaultAntiforgery scoped instead of singleton"
This would let us get rid of the service locator antipattern...

-Microsoft.AspNetCore.Antiforgery\Internal\DefaultAntiforgery.cs:331:
`var contextAccessor = services.GetRequiredService<IAntiforgeryContextAccessor>();`

-Microsoft.AspNetCore.Antiforgery\Internal\DefaultAntiforgery.cs:441:
`var contextAccessor = services.GetRequiredService<IAntiforgeryContextAccessor>();`

https://github.com/aspnet

[2016-03-02 22:39] rynowak commented on #62
Or, we can get rid of the context and use a feature, or `HttpContext.Items`.

This will have a cascading effect on MVC and cause a few filter implementations as well as bunch of HTML related infrastructure to become scoped. Scoped is really viral.

[2016-03-02 23:15] rynowak commented on #62
Ran this by @lodejard and he likes the idea of a feature. The stuff that antiforgery puts in the context really is related to the current `HttpRequest` as a unit of work.

[2016-03-02 23:32] lodejard commented on #62
Yep

[2016-03-05 00:05] yuwaMSFT opened #64 "Access null object in Microsoft.AspNetCore.Antiforgery.Internal.DefaultAntiforgeryTokenSerializer.Deserialize"
When I ran my app with debugger attached on Linux, I always hit fault on accessing invalid address. It turned out due to missing antiforgery cookie in the client request. So basically the test client faked requests and avoided using antiforgery token. The server code handling this is not checking whether this cookie exists or not before handling to deserializer.

[code]

The missing stacks are man

[2016-03-05 00:06] yuwaMSFT commented on #64
@rynowak @sivagms @halter73 @SajayAntony @muratg

[2016-03-05 00:42] rynowak commented on #64
@yuwaMSFT - Great Find! Thanks!

@dougbu - we should move this into the token serializer and just surround the call to the crypto apis with a try/catch. We should also log, since we're silencing an exception.

[2016-03-14 18:25] rynowak opened #66 "Discussion: Smarter defaults for Antiforgery"
*_Use this issue for feedback, questions and discussions related to https://github.com/aspnet/Announcements/issues/156 *_

---
#### Update 3/30

**We're not 100% satisfied with what we built here, so we're not going to make any changes to the default experience for validating tokens in RC2.**

We're not going to ship the `AntiforgeryMiddleware` because we're not confident that it's our long term a

[2016-03-14 19:42] imranbaloch commented on #66
Shouldn't making it unauthorized/forbidden is better?

[2016-03-14 19:54] rynowak commented on #66
Added some more detail here - this actually flows back into the authorization system, which ultimately decides what to do.

[2016-03-14 21:00] Vasimovic commented on #66
Very nice!

[2016-03-15 08:09] ShadowDancer commented on #66
Will there be a way to disable antiforgery system in development environment? Currently it's not straightforward (I had to register my wrapper for defaultAntiforgery). Testing endpoints with rest client is a pain if you have to think about tokens.

Also another option I could think of is to disable cookie with antiforgery (in my application I'm fighting for every byte of cookie and because of that

[2016-03-15 18:40] imranbaloch commented on #66
IMHO, its better for the middle-ware to throw exception rather then wiping out existing principal. I think we are mixing authentication system with XSRF(you will see lot of confusion in future) cc @blowdart

[2016-03-15 19:56] blowdart commented on #66
I would be fine with an exception, its what previous versions do. It might also reduce confusion.

[2016-03-15 20:38] imranbaloch commented on #66
Let me give a realistic example. Currently we have big mobile app(which have lot of forms in webview(built using asp.net mvc 5)) with lot of users. Daily I see lot of missing xsrf token exceptions. The reason of these exceptions is disabled cookie policy. Getting these exceptions we at least what errors our users are getting so that we can help them to fix the issue.

Now let assume that we have t

[2016-03-17 17:25] AlexChesser commented on #66
When dealing with Ajax, APIs and, Antiforgery ... are there any best or recommended practices or watch-outs you can think of?

With the rise of front-end-frameworks (angular, react, mithril) and the growing popularity of microservices style architectures, I'm wondering if there is a looming CSRF security nightmare in the future. (and from personal experience, had to spend a bit of time doing some

[2016-03-23 21:37] #62 closed

[2016-03-25 08:02] davidfowl opened #69 "Can't build on OSX"
[code]

/cc @dougbu @victorhurdugaci @pranavkm

[2016-03-25 08:29] davidfowl commented on #69
This is a general issue

[2016-03-25 08:29] #69 closed

[2016-03-30 17:10] rynowak commented on #66
#### Update 3/30

**We're not 100% satisfied with what we built here, so we're not going to make any changes to the default experience for validating tokens in RC2.**

We're not going to ship the `AntiforgeryMiddleware` because we're not confident that it's our long term approach. We're still going to be looking at a solution that works with middleware, with the authentication system and can prote

[2016-03-30 17:11] 304NotModified commented on #66
Sounds like a wise decision.

[2016-03-30 17:21] rynowak commented on #66
Thanks for the feedback, I've haven't stopped by to address comments here because we were still discussing whether or not we wanted to stick to the plan that was announced. **Security is hard, and auth is hard.**

Yes, we got this feedback loud and clear. We want this to be available as an option - not going to speculate right now on whether or not it would be the default.

I'm not sure we'd do an

[2016-03-30 17:33] rynowak commented on #66
In general the choice here is whether your ajax calls are using a persistent authN mechanism like cookies, or a bearer token. Using bearer auth requires some kind of token server in the app (or a 3rd party token server), but has fewer gotchas - it's inherently not vulnerable to CSRF.

If you are using cookie auth for an API backend, it's part of a first-party app, meaning that you own both the fro

[2016-03-30 17:35] blowdart commented on #66
The only thing I have to add is don't write an API endpoint to get an anti-forgery token, write an API auth mechanism that doesn't need one. Separate your first party and third party API endpoints should you feel the need to use cookie auth because your first party website is calling APIs.

[2016-04-01 16:37] rynowak opened #73 "Remove AntiforgeryMiddleware"
Related to https://github.com/aspnet/Antiforgery/issues/66

We don't want to ship this in an RC2 release because it's not going to be our long-term solution.

[2016-04-01 16:38] rynowak commented on #73
37c8f5de70c0e446a1842064d70b2094c039ad4a

[2016-04-01 16:38] #73 closed

[2016-04-11 21:56] Tratcher opened #76 "Should AntiForgery use ITlsTokenBindingFeature for DataProtection?"
See https://github.com/aspnet/Security/issues/773
https://github.com/aspnet/Antiforgery/blob/0c81df859145801d2846ccbdc9af5830fa791f63/src/Microsoft.AspNetCore.Antiforgery/Internal/DefaultAntiforgeryTokenSerializer.cs#L55

Only apply it if AntiforgeryOptions.RequreSsl is true.

[2016-04-18 21:28] #60 closed

[2016-04-18 23:38] #64 closed

[2016-05-22 18:34] rbjarnason opened #82 "How do I use app.Map and ValidateRequestAsync with app.UseMvc?"
I've been trying to get this to work for a while and find few examples. Actually this quite elegant method of antiforgery prompted me to upgrade from RC1 to RC2, which was a bit painful but everything is working now, except this.

Here is my code that is based on your angular.js example, I only have problem with the last part app.Map() that is causing the request to stop even if its a "GET" reques

[2016-05-22 18:49] brockallen commented on #82
I can't tell if you know this already or not, but a Map forks the pipeline -- IOW, your "/api" path doesn't automatically then join back up with middleware outside of the "Map". In short, MVC won't run if the request starts with "/api" due to the fork.

[2016-05-22 19:11] rbjarnason commented on #82
Thanks @brockallen for the info.  I've tried different combinations of this, trying to use app.Use and app.Run directly.  I don't need it to branch so I should probably not be using app.Map but this is the only example I could find for ValidateRequestAsync.

[2016-05-22 19:30] Eilon commented on #82
@rbjarnason what if you change the call to `app.Map()` to instead be `app.Use()` and then call `next(context)` at the end? That's basically what your first `app.Use` is doing, but then also doing it for anti-forgery.

[2016-05-22 19:46] rbjarnason commented on #82
Thanks @Eilon its working now like this :)

[code]

[2016-05-22 19:46] #82 closed

[2016-05-22 21:33] Eilon commented on #82
@rbjarnason great!

[2016-05-25 13:16] Basewq opened #83 "Cookie header request example"
I looked at the AntiforgerySample but I'm still confused how this works in an Angular SPA environment (where the majority of `[ValidateAntiforgeryToken]` is declared on the backend WebApi in my project).
I have followed the same as the sample, but I will also note I have added Identity, which I think also adds the Antiforgery service for itself(?).

I have done a login page and a logoff page, wher

[2016-05-25 15:16] rynowak commented on #83
You'll need to send the client a new tokenset when they log in. The tokenset always has some embedded data that identifies the user. When the user is anonymous we just use a random token. When the user is logged in, we generate the token set based on their claims.

Our XSRF system uses two tokens. One of them goes in the `.AspNetCore.Antiforgery.xxxx` cookie, and will be automatically sent back by

[2016-05-25 15:17] rynowak commented on #83
/cc @blowdart in case he wants to add anything

[2016-05-25 17:12] Basewq commented on #83
Thanks @rynowak, it's a bit clearer now.
It looks like in my project my Identity authentication isn't persisting (for different reasons) so it doesn't create the correct token set. I think once I figure that out the tokens should behave properly.

[2016-05-25 18:30] rynowak commented on #83
Are you generating the new token set as part of the response **right when** the user logs in?

You might need to add a call to `AuthenticateAsync` if you're doing that, because I know Antiforgery uses the principal on `HttpContext`. https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs#L55

/cc @HaoK

[2016-05-25 19:02] Basewq commented on #83
No I'm not. I'm using ui-router to change pages, so I thought it'll be recreated in the middleware section.
Debugging the code I see the middleware doesn't have the authenticated principal, however I think it's because it's still thinking it's part of the original http context (or something like that...). I think this is an issue with my code with angular rather than a fault with antiforgery or as

[2016-05-25 19:16] Basewq commented on #83
Ok, no problem anymore. I did not realize the custom UserStore I was using was a factor in the Identity issue. I was missing an IUserSecurityStampStore interface implementation otherwise it was logging me out immediately after signing in, and so the token was recreated for an unauthenticated user.

[2016-05-25 19:33] HaoK commented on #83
You can also try explicitly disabling the cookie security stamp validation to confirm that it isn't the issue by removing the OnValidatePrincipal that is added by default:

[code]

[2016-05-25 20:01] Basewq commented on #83
@HaoK Sorry, I'm not quite sure what you're saying.
I set a dummy func in place of the `OnValidatePrincipal` since you can't null it. It appears CookieValidatePrincipalContext.Pricipal has the authenticated user, but the CookieValidatePrincipalContext.HttpContext.User does not.
Does this say something?

[2016-05-25 20:09] HaoK commented on #83
Have you tried turning on logging and seeing if any interesting failures come out?
In general if CookieValidatePrincipalContext has the authenticated user, and you successfully remove the Validation, it should flow through.

Is AutomaticAuthenticate set to true for your cookies?

[2016-05-25 20:17] Basewq commented on #83
I've got logging on Debug level.
Other than the already mentioned `The provided antiforgery token was meant for a different claims-based user than the current user.` there's no failures.
Not sure if `HttpContext.User merged via AutomaticAuthentication from authenticationScheme: "Identity.Application".` counts as interesting?

I haven't set AutomaticAuthenticate, but I'll try setting it. Note that

[2016-05-25 20:43] HaoK commented on #83
Okay sounds like this is really an antiforgery issue.

[2016-05-25 20:46] rynowak commented on #83
@HaoK he needs to update the principal after login so that AF will generate the right token. `GetAndStoreTokens` [doesn't let you provide a principal](https://github.com/aspnet/Antiforgery/blob/dev/src/Microsoft.AspNetCore.Antiforgery/IAntiforgery.cs#L25)

In a normal MVC non-ajax flow you'd get redirected after login so the next request which is a GET generates a new token because you have the up

[2016-05-25 21:11] Basewq commented on #83
Thanks for everyone's help. It seems I made a grave error.
I just needed to move the middleware code after `app.UseIdentity();` in `Startup.Configure`.
Having it after UseIdentity meant the Identity with set the correct principal.
I'm double checking to make sure this is correct and I didn't accidentally disable something!

[2016-05-25 21:13] rynowak commented on #83
Yeah that would do it!  Seems right to me. Glad we we able to help.

[2016-05-25 21:42] Basewq commented on #83
Great. It's working. Thanks again everyone!

[2016-05-25 21:42] #83 closed

[2016-05-26 06:12] Eilon opened #84 "Rename ServiceCollectionExtensions to AntiforgeryServiceCollectionExtensions"
Rename `ServiceCollectionExtensions` to `AntiforgeryServiceCollectionExtensions` so that the type name is not ambiguous across other assemblies.

[2016-05-26 06:24] Eilon commented on #84
@danroth27 FYI

[2016-05-26 18:50] NTaylorMullen commented on #84
54d9860eeae05baf39006b499c9c7af3f1350814

[2016-05-26 18:50] #84 closed

[2016-05-27 18:29] NTaylorMullen opened #86 "Discussion: Antiforgery service collection extension class has been renamed to avoid ambiguity"
`Microsoft.Extensions.DependencyInjection.ServiceCollectionExtensions` => `Microsoft.Extensions.DependencyInjection.AntiforgeryServiceCollectionExtensions`

Associated announcement: https://github.com/aspnet/Announcements/issues/187

[2016-06-01 05:45] xatabhk opened #88 "Unable to resolve 'Microsoft.AspNetCore.Antiforgery (>= 1.0.0-rc3-21156)' for '.NETFramework,Version=v4.5.2'."
Unable to resolve 'Microsoft.AspNetCore.Antiforgery (>= 1.0.0-rc3-21156)' for '.NETFramework,Version=v4.5.2'.

[2016-06-01 06:03] #88 closed

[2016-06-07 15:06] pingcrosby opened #90 "How do I retrieve the antiforgery token in RC2 ?"
Hi
With .NET Core RC1 the following code to validate an antiforgery token worked.  I can see that the api has changed in RC2

RC1 Working code
[code]
Can you point me in the right direction with RC2 , I cannot see the API calls necessary to create a new tokenset and validate

` return await _antiforgery.ValidateRequestAsync(context.HttpContext, /* new AntiforgeryTokenSet(headerToken, antiForgeryCo

[2016-06-07 16:25] dougbu commented on #90
The `IAntiforgery` interface includes `SetCookieTokenAndHeader(HttpContext)`. But while a few methods return an `AntiforgeryTokenSet`, none have parameters of that type.

Could changing `AntiforgeryOptions` in your `Startup` avoid the need for `ValidateAntiForgeryHeaderToken ` entirely?

[2016-06-07 16:34] rynowak commented on #90
@pingcrosby - we added support for headers to antiforgery as a feature in RC2. Is that what you're trying to do? https://github.com/aspnet/Antiforgery/blob/dev/samples/AntiforgerySample/Startup.cs#L21

If you're using MVC all your have to do is configure this setting to the desired header name and all of the built in validation will use it.

[2016-06-08 11:00] pingcrosby commented on #90
That exactly what i wanted.
Nice and simple - as an aside is it possible to add multiple headers to check against eg
A quick question :-
    Is it possible to add multiple headers to check against ? eg
` services.AddAntiforgery(options => options.HeaderName = "X-XSRF-TOKEN_TYPE1");
 services.AddAntiforgery(options => options.HeaderName = "X-XSRF-TOKEN_TYPE2");`

When i add `options.HeaderName = "X

[2016-06-08 15:36] rynowak commented on #90
We don't have any built-in support for this

Yes, `@Html.AntiForgeryToken()` will still generate the hidden field. We've also updated `@Html.BeginForm` and the form TagHelper to include an antiforgery token by default, so most calls of `@Html.AntiForgery()` in legacy code are redundant.

[2016-06-08 15:45] pingcrosby commented on #90
Thanks for clarifying this issue

Appreciated

[2016-06-08 15:45] #90 closed

[2016-07-13 10:32] shutdown256 opened #93 "Antiforgery token for a different claims-based user than the current user"
Hi

In my single-page application using ajax requests I need to sign-in user using ajax (with antiforgery token provided by GetAndStoreTokens()) - all nice and well, but after the sign-in subsequent requests fail with error: "The provided antiforgery token was meant for a different claims-based user than the current user."
So of course I tried to return new token (using GetAndStoreTokens())  at th

[2016-07-15 08:47] anil2 opened #94 "Antiforgery Token used by AngularJS"
I was trying to follow the sample code provided for AntiForgery
There anti-forgery token is written to a cookie where AngularJS (Javascript) can read it and use it on every  subsequent XHR requests.

I see that even when the same token is used more than once, It is considered to be a valid token and everything is just normal. When and how an issued token gets invalid?

If the token can be used mor

[2016-07-15 08:58] anil2 commented on #93
I also have the same kind of issue and error message

[2016-07-15 09:48] anil2 commented on #66
Hello @rynowak
Please check this [https://github.com/aspnet/Antiforgery/issues/94](url)

[2016-07-15 15:05] rynowak commented on #93
Do you have a sample project that demonstrates the problem that we can look at?

[2016-07-15 15:40] ShadowDancer commented on #94
This token does not defend against malicious code. Check this: https://en.wikipedia.org/wiki/Cross-site_request_forgery

[2016-07-15 15:43] rynowak commented on #94
@ShadowDancer is correct - CSRF can protect you from another website making malicious requests to yours, but it cannot protect you from XSS.

/cc @blowdart

[2016-07-15 16:36] blowdart commented on #94
Tokens get issued when you first come to a form that has a token embedded in in. A corresponding cookie is dropped, and it lasts for the browser session.

[2016-07-18 06:35] anil2 commented on #94
thank you so much for the information, it really helps @ShadowDancer @rynowak @blowdart

[2016-07-18 06:39] anil2 commented on #93
@rynowak I am working on a big project, let me work around and see if I can able to replicate the same issue in a sample project, so that I can share it here. Thank you for responding to the issue quickly :+1:

[2016-07-18 07:26] anil2 commented on #93
@rynowak  I noticed the peice of code which caused me this problem, It is while using **TicketDataFormat**  in middleware configuration, when i removed that part every thing works normal. Any suggestions or improvements so that I can use **TicketDataFormat**

`app.UseCookieAuthentication(new CookieAuthenticationOptions()
            {
                LoginPath = "/Login/Unauthorized",

[2016-07-18 10:05] anil2 commented on #93
@rynowak my problem was solved, as I expected it was  TicketDataFormat part where Proptect and UnProtect for AuthenticationTicket was not implemented properly. @shutdown256  may be you have the same kind of issue?

[2016-07-18 14:50] rynowak commented on #93
@anil2 are you saying there's a bug with the use of a custom `TicketDataFormat`? Can you provide more information about this? /cc @HaoK

[2016-07-18 15:11] anil2 commented on #93
@rynowak  The **bug was from my code** in implementing Protect and Unprotect methods, later I noticed that **my code** has **inconsistency in claims in-between  Protect and Unprotect methods**

`public class TestClass  : ISecureDataFormat<AuthenticationTicket>
    {
        public string Protect(AuthenticationTicket data)
        {
            throw new NotImplementedException();
        }

[2016-07-18 15:15] rynowak commented on #93
ok thanks for clearing that up.

@shutdown256 do you have a repro project or some sample code we could look at?

[2016-07-18 17:33] #94 closed

[2016-07-19 11:24] shutdown256 commented on #93
Not right now (it is also big company project). I will try to put something together. But I don't think my problem has anything to do with **TicketDataFormat**. I don't even use `app.UseCookieAuthentication()` (I left default cookie settings) But like i said, I cannot regenerate antiforgery tokens after I call `signInManager.PasswordSignInAsync()`. My usecase is:
user gets temporary password and s

[2016-07-19 11:49] anil2 commented on #93
@shutdown256  More information might be needed assess the problem situation,
with the information you provided,
`I cannot regenerate antiforgery tokens`
regeneration of antiforgery tokens is not necessary I guess, I came to know myself that antiforgery token lasts for a complete session and can be used more than once, please refer #94

[2016-07-19 12:02] shutdown256 commented on #93
Yes it does, but not when you sign in as different user during the session

[2016-07-19 12:04] shutdown256 commented on #93
My problem is I don't want to redirect user to different page (or even just reload it) that would work but it breaks UX.

[2016-07-19 16:47] Eilon commented on #93
@blowdart I think you've lent some thoughts on this scenario before? Do we have guidance on what to do when a user switches from anonymous to authenticated?

[2016-07-19 16:51] blowdart commented on #93
It's on purpose. It won't change. CSRF tokens take the current user details into account.

The templates cope with this by ending up with a redirection. It's the only way to do it safely.

Given this is ajax/spa, which is kind of an anathema for this, the correct way to approach it would be to use an authentication scheme which doesn't need CSRF at all. @shutdown256 if you're not using cookie auth

[2016-07-19 20:38] shutdown256 commented on #93
I am using default implementation `app.UseIdentity()` (which is using cookies, as far as I can tell). I'm just not making any cookie specific changes. My workaround for this specific problem is to skip validation for the password change, which I feel is not exploitable (because you already need to know correct password). I have no proble with tokens being tied to user, but I still think it is wron

[2016-07-28 17:58] thanhos opened #95 "How do I modify the defaults for Antiforgery to make it FIPS-compliant"
I'm working on a system that has FIPS-compliant enabled and am wondering is there a way to change the Antiforgery defaults to make it compliant.  If someone could provide some direction or feedback that would appreciated.

Thanks

[2016-07-28 19:25] thanhos commented on #95
Creating a new ASP.NET Core Web Application using .NET Core works fine.  Creating one using the .NET Framework with FIPS enabled doesn't work.

[2016-07-29 23:49] rynowak commented on #95
/cc @blowdart

[2016-07-30 00:10] blowdart commented on #95
Strange.

What OS, and do you have a stack trace?

@rynowak This may end up being deep in data protection. There's a fun bug in creating SHA signing pieces where you tell it to use FIPS algorithms and it doesn't. nuget had the same problem,

[2016-08-01 16:32] thanhos commented on #95
I'm on Windows 10.0 (Build 10240).

Here's the stack trace:

fail: Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware[0]
      An unhandled exception has occurred while executing the request
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.InvalidOperationException: This implementation is not part of the Windows Platf

[2016-08-01 16:51] rynowak commented on #95
Thanks for providing this.

This callstack is using `Sha256Managed` to compute a unique application cookie name. We'll have to do something to address this. https://github.com/aspnet/Antiforgery/blob/dev/src/Microsoft.AspNetCore.Antiforgery/Internal/AntiforgeryOptionsSetup.cs

Can you try the following workaround:
[code]

The purpose of the random cookie name is just to avoid colliding with other

[2016-08-01 16:52] rynowak commented on #95
/cc @blowdart - see above, it looks like we have to do something about this, but it's local to antiforgery

[2016-08-01 16:58] blowdart commented on #95
Oh dear. This is a bug in the desktop framework. SHA256.Create should create a FIPS compliant CSP, but doesn't in some circumstances. nuget had the same problem (https://github.com/NuGet/Home/issues/2335)

Switch from SHA256.Create() to (HashAlgorithm)new SHA256CryptoServiceProvider()

[2016-08-01 17:05] Eilon commented on #95
Prospectively putting this in the 1.0.1 milestone, but will need to get approval for it.

[2016-08-01 17:13] thanhos commented on #95
I tried the workaround above and it seems like it's no longer failing in Antiforgery but in the TagHelpers.  Looks like a general bug.  Where should I redirect this issue to?  Here's the stack trace.

fail: Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware[0]
      An unhandled exception has occurred while executing the request
System.Reflection.TargetInvocationException: Exception

[2016-08-01 17:17] blowdart commented on #95
@NTaylorMullen ...

[2016-08-01 18:26] blowdart commented on #95
@thanhos I have a work around for you.

Firstly my apologies. This is a bug in the .NET framework, and it's fixed in 4.5.2 but I presume because you have FIPS enabled that upgrading when that drops is probably painful. I'm currently creating a new FIPS VM to check this.

What you can do is in `program.cs`, add the following line at the beginning;

    CryptoConfig.AddAlgorithm(typeof(SHA256Cng), “

[2016-08-01 21:06] thanhos commented on #95
Thanks for the feedback so far @blowdart

I tried the suggestion above and still received the same error.

[2016-08-01 21:08] blowdart commented on #95
Darn I was so hopefully. It's probably too late in the initialization process then (I'm still attempting to get a FIPS machine up and running)

[2016-08-01 21:12] blowdart commented on #95
I know it's a lot to ask, but could you try installing 4.6.2 beta on a machine and see if that works? It's likely 4.6.2 will drop before we officially release a patch for this.

[2016-08-01 21:19] thanhos commented on #95
Sure, I'll give that a try and see how it goes.

[2016-08-01 21:23] blowdart commented on #95
Thanks. Apologies for forcing a beta on you.

[2016-08-01 22:36] thanhos commented on #95
No worries.  I installed the 4.6.2 Preview and still getting the same exceptions.

[2016-08-01 22:41] blowdart commented on #95
Darn.

[2016-08-01 23:31] PinpointTownes commented on #95
FWIW, an ASOS user experienced the same thing and this snippet worked:

[code]

I presume @blowdart's snippet doesn't work because it doesn't override "System.Security.Cryptography.SHA256".

[2016-08-01 23:48] bartonjs commented on #95
grumble grumble.  That's my bad, I advised him without looking at [the implementation on referencesource](http://referencesource.microsoft.com/#mscorlib/system/security/cryptography/sha256.cs,4b15c607be98ae7f).  Aes.Create() queries for "AES", so for some reason I assumed SHA256 queried for "SHA256".  How absurd of me :smile:.

Installing 4.6.2 preview *should've* worked.  At least, it's in the [p

[2016-08-01 23:58] PinpointTownes commented on #95
Hahaha, guys who use `SHA256.Create()` and abusively cast the returned instance to `SHA256CryptoServiceProvider` will have a nice surprise :smile:

[2016-08-02 00:02] bartonjs commented on #95
@PinpointTownes Nah, you missed "in FIPS-only mode".  Since the ctor of SHA256Managed is what throws SHA256.Create() never exited in that case; so we've changed an exceptional case to a passing case.  Non-FIPS mode is left as-was, for precisely that bad pattern.

[2016-08-02 00:07] PinpointTownes commented on #95
@bartonjs ah yeah good point :smile:

On a related note, is there a plan to change the default key size used by `RSACryptoServiceProvider` in the future?

[2016-08-02 00:16] bartonjs commented on #95
@PinpointTownes That's a hard argument with compat (but one I'll have at some point).  But hopefully https://github.com/dotnet/corefx/issues/8688 will take the sting off.

[2016-08-02 00:50] thanhos commented on #95
@PinpointTownes 's suggestion worked. Thanks!

I'll have to investigate as to why installing 4.6.2 didn't work on my machine.

Thanks for the help everyone.

[2016-08-02 14:53] dougbu commented on #95
FYI Antiforgery and MVC use `SHA256.Create()` a couple more times than were hit above:
- `AntiforgerySerializationContext` in Antiforgery
- `CacheTagKey` in MVC

[2016-08-02 17:21] Eilon commented on #95
FYI, I logged https://github.com/aspnet/Mvc/issues/5103 for the MVC issues.

[2016-08-02 17:26] PinpointTownes commented on #95
@Eilon is this really a MVC issue? It already does the right thing by calling `SHA256.Create()` instead of trying to use a specific implementation like `SHA256Managed`.

The fact you don't get a FIPS-compliant instance on .NET Desktop < 4.6.2 is another story, but I'm not sure there's anything you can do in MVC.

[2016-08-02 17:29] Eilon commented on #95
@PinpointTownes to be honest, not sure - but MVC's code looks the same as anti-forgery's, so wouldn't it be the same issue?

[2016-08-02 17:40] PinpointTownes commented on #95
Well, IMHO, there's no bug in Antiforgery or MVC, as they both correctly use `SHA256.Create()`.

The "bug" (by design?) was more caused by `CryptoConfig`, that used to blindly register `SHA256Managed` as the default implementation without checking whether FIPS was enabled first in < .NET 4.6.2: http://referencesource.microsoft.com/#mscorlib/system/security/cryptography/cryptoconfig.cs,261

I guess

[2016-08-02 17:48] Eilon commented on #95
@PinpointTownes yeah I think it boils down to: the system as a whole doesn't work on FIPS-enabled machines, so we want to do whatever we can reasonably do to make it work, regardless of where the actual root bug is. So if we need to just work around bugs in our own codebase (while that codebase is getting the "real" fix), then we'll try to do that. Does that make sense?

[2016-08-02 17:59] PinpointTownes commented on #95
It does. I'm just concerned by the the fact your workaround might break cross-platform scenarios:
  - `SHA256Cng` is based on Windows CNG and only works there (the type doesn't even exist on Mono).
  - `SHA256CryptoServiceProvider` relies on CryptoAPI, which is also a Windows-only API. It should work on Mono as the type is there (but it uses a managed implementation internally) but will break ever

[2016-08-02 21:43] bartonjs commented on #95
@thanhos 4.6.2 (final) released today: https://blogs.msdn.microsoft.com/dotnet/2016/08/02/announcing-net-framework-4-6-2/. I very much hope/expect that the CryptoConfig issue would be resolved for you with that build installed.  The CryptoConfig change is only conditional on the FIPS setting, so it doesn't require changing your calling executable to be explicitly compiled against 4.6.2.  (Though,

[2016-08-02 23:43] blowdart commented on #95
@PinpointTownes Having people jump through hoops isn't the right answer. The right answer is making it work on our supported platforms.

[2016-08-04 07:48] GuardRex opened #97 "How to set the cookie name?"
I've tried with both ...
[code]
... and ...
[code]
... but I'm only getting ...
[code]
[EDIT] I looked at the repo tests, and this looks correct. I feel that I'm missing something simple here.

[2016-08-04 15:03] rynowak commented on #97
Can you include all of your `ConfigureServices` method? Something's fishy here.

[2016-08-04 15:07] GuardRex commented on #97
oooo! I just discovered that I added the service twice by accident. Let me remove that first one and see what happens. brb

[2016-08-04 15:17] GuardRex commented on #97
I'm not sure if I was looking in the right place (i.e., a page that didn't have a `<form>` or if it was just that I had two calls to setup the service. Whatever I did wrong, this works ... I see it now.

Sorry for the bother ... I do have a **real** question coming up on an existing issue wrt token expiry.

[2016-08-04 15:17] #97 closed

[2016-08-04 15:18] rynowak commented on #97
ok :+1: glad it's sorted out

[2016-08-04 16:11] GuardRex commented on #36
ok -- a **real** question now.

I took at look at the link @blowdart provided and started to hack up something that will tide me over until this issue comes off the backlog.
[code]
... with `Microsoft.AspNetCore.DataProtection.Extensions` and so far, so good.

The example shows protecting some data with ...
[code]
So you're suggesting that I need to replace `public string Serialize(AntiforgeryToke

[2016-08-04 16:19] GuardRex commented on #36
... or is it just this ...

A field to get a pool ...
[code]
Do it ...
[code]

[2016-08-04 17:43] GuardRex opened #98 "Using antiforgery with AJAX requests"
I'd like to request a DELETE using a button on a form wired up to ...
[code]
... with ...
[code]
This works fine without `ValidateAntiForgeryToken`, but as soon as I go ...
[code]
:boom: I get a 400 Bad Request.

Both the button and the script are within a `<form>` and I can see the antiforgery token going out on the DELETE in request headers (via Fiddler) ...
[code]
What am I missing?

[2016-08-04 18:00] rynowak commented on #98
See the sample here: https://github.com/aspnet/Antiforgery/tree/dev/samples/AntiforgerySample

Are you sending the data as JSON or as form-url-encoded?

Our antiforgery system uses two tokens, a cookie token and a *request token*. The *request token* needs to be provided, and needs to match the cookie token,. You can do this either with a form field or with a header value (like the sample).

The r

[2016-08-04 18:05] GuardRex commented on #98
Ah ... I see.

This is form-url-encoded with the resource to be deleted in the route (e.g., `https://www.mysite.com/controller/delete/d3df34d323223`). Since it works fine without the validation attribute, it must just be the missing request token.

Thanks :smile: ... I think I have enough to get it fixed. I'll re-open if things don't pan out.

[2016-08-04 18:05] #98 closed

[2016-08-04 21:40] GuardRex commented on #98
In case anyone comes across this, the solution was to add the token to the request as @rynowak said above. I couldn't get it to work as a header, and the sample is difficult to grok b/c its Angular and middleware and not a regular MVC sample.

I was able to get it to work by sending it in the `data`, like this ...
[code]

[2016-08-07 18:28] GuardRex opened #99 "TryValidateTokenSet null tokens don't flow well for custom use of this method"
When attempting to manually generate and consume time-limited tokens (https://github.com/aspnet/Antiforgery/issues/36#issuecomment-237604605), I'm using `TryValidateTokenSet` directly, but when either of the tokens are set to `null` (as I have setup in my own `Deserialize` method when DP says that the token is expired ... I just return `null` for the token), the `TryValidateTokenSet` method doesn'

[2016-08-10 21:21] NTaylorMullen commented on #95
PR is ready to go in. Waiting for patch-approved. Once in, will need to work out changes to templates to ensure they reference 1.0.1 Antiforgery.

[2016-08-17 21:19] NTaylorMullen commented on #95
cdf84eb87ea61722ef4ba3d6ecd62e30c4891031

[2016-08-17 21:19] #95 closed

[2016-08-30 02:24] Kagamine opened #100 "How to use antiforgery in SLB without session keeping?"
It seems that the tokens are stored in local machine, how to make it store in Redis or a distributed environment?

[2016-08-30 15:36] rynowak commented on #100
Antiforgery or CSRF protection is a mitigation for attacks where a user's credentials are persistent on the local machine, such as in a cookie. Nothing on the server side today *stores* the antiforgery tokens, they are encrypted data that can be read later by the server.

What is it that you're really trying to do?

[2016-08-31 09:05] wanton7 opened #101 "Cookie path is always / in IIS"
When you put your application to virtual directory named myvirtualpath in IIS, antiforgery cookie is still using / as path and not /myvirtualpath.

[2016-08-31 16:03] rynowak commented on #101
/cc @blowdart

[2016-08-31 16:56] blowdart commented on #101
Yup, that's wrong :)

[2016-08-31 20:44] rynowak commented on #101
This is definitely a bug.

Have you hit an issue that you need help working around?

[2016-08-31 21:04] wanton7 commented on #101
If that comment was meant for me. I made couple of Asp.Net Core for company only for our own use currently, so this is not a big problem for me.

After this is fixed those people who have used these applications made with version that used / as path might have problem. Because you can have cookies with a same name at / and at /myvirtualpath. After you remove one from /myvirtualpath application wil

[2016-09-13 20:59] #101 closed

[2016-09-14 19:01] kichalla opened #104 "Expose cookie options via Antiforgery options"
With the following commit, the path of the antiforgery's cookie token is set to always use the request's `PathBase`. Consider exposing the cookie's options via the `AntiforgeryOptions` to enable users to set it explicitly if they need to.

[2016-09-14 19:39] rynowak commented on #104
We don't want to expose cookie options in general, just the ability to either set `Path` globally, or have a boolean to ignore `PathBase`.

[2016-09-22 20:15] tinchou commented on #29
Hey guys,

I'm developing a SPA and I'm getting an issue when logging in the user. I tried the approach @rynowak suggested but after logging in I get `Antiforgery token validation failed. The provided antiforgery token was meant for a different claims-based user than the current user.` whenever I do a POST request.

Do you have any suggestion of how I could workaround this?

Thanks!

[2016-09-22 20:20] rynowak commented on #29
You will need to refresh the antiforgery token(s) after logging in. The token is tied to the user's identity.

[2016-09-22 21:35] tinchou commented on #29
Thanks for your quick reply! I realized I always call `/profile` right after signing in, so I put the token refreshing logic there. It works for my app, but seems hackish.

My main issue is that I'm not using the cookie authentication, but JWT. When the user authenticates I can't call `context.Authentication.SignInAsync` because [it's not implemented](https://github.com/aspnet/Security/blob/22d133

[2016-09-22 21:52] rynowak commented on #29
If you're doing bearer auth, you have no reason to use antiforgery.

[2016-09-22 22:04] tinchou commented on #29
Jum, that's interesting. I guess I have to search how Bearer Auth protects from CSRF. I haven't seen that mentioned anywhere!

[2016-09-22 22:19] rynowak commented on #29
Bearer auth doesn't need CSRF protection because it's not a persistent auth mechanism.

Think of it this way... if a malicious site hosts a form that posts to `example.com`, then `example.com`'s cookies will be included when that form is submitted. This is an automatic behavior of browsers, and it's just how cookies work.

On the other hand if you're using bearer (JWT) using the `Authorize` header

[2016-09-22 23:23] tinchou commented on #29
Oh, I see. So if I store the jwt in a cookie but don't read it in the
server (I only use it as a storage mechanism in the client side) I won't be
subject to XSRF?

On Thu, Sep 22, 2016, 19:19 Ryan Nowak <notifications@github.com> wrote:

[2016-09-23 19:08] rynowak commented on #29
server (I only use it as a storage mechanism in the client side) I won't be
subject to XSRF?

You will absolutely be vulnerable to xsrf if you're using cookies to send it to the server, regardless of what type of token or credential it is. Can you please open a new issue with an example and a more clear description of what you need to accomplish? I think we need more background information to unde

[2016-09-23 19:32] tinchou commented on #29
Sure, I'll see what I can do.

[2016-10-03 18:11] Eilon commented on #104
@rynowak so we want one or the other option? Or both?

[2016-10-03 18:15] #100 closed

[2016-10-03 19:48] rynowak commented on #104
We made the breaking change to use `PathBase` we need to expose **something** to override that behavior in case you wanted something different.

Some other discussion was discussed about exposing other cookie options as options.

[2016-10-06 20:23] Eilon commented on #104
Let's add a `PathString? AntiforgeryOptions.CookiePath { get; set; }` property.

If it's unset (i.e. `null`), the system will be smart and use the PathBase of the request. If it's set to anything else, the system will be smart and use what the user set.

[2016-10-06 20:23] Eilon commented on #104
Please ensure the behavior is covered in the doc comment of the new property.

[2016-10-07 17:16] JunTaoLuo opened #105 "Disable caching when response uses antiforgery"
When setting the cookie token and headers on a response that uses antiforgery, caching should be disabled to prevent the content from being cached.

Adding the cache control headers `Cache-Control: no-cache, no-store` should be sufficient.

cc @sebastienros @Tratcher

[2016-10-07 20:14] muratg commented on #105
@Eilon @danroth27 could you guys triage this?  Response caching middleware will otherwise cache the tokens.  See https://github.com/aspnet/ResponseCaching/issues/69

[2016-10-07 20:37] Tratcher commented on #105
@sebastienros discussed offline. No-cache is set when there is a cookie, but it's not set if the cookie already exists and the antiforgery token is used somewhere in a form. The caller that inserts the token into the form should mark the response as non-cachable.

Note response caching won't cache by default, it requires a direct opt-in `Cache-Control: public`. There is only a problem if a user di

[2016-10-10 18:30] Eilon commented on #105
Is this bug really just saying that any component that sets cookies should disable response caching? And that antiforgery happens to set cookies? Should components such as session state and cookie auth middleware also do this? (Or do they already do this?)

[2016-10-10 23:05] JunTaoLuo commented on #105
Setting cookies will disable response caching since only responses without the `Set-Cookies` header are deemed cacheable. The issue with antiforgery is that `Set-Cookie` is sent the first time. Subsequent responses will not contain that header and will be deemed cacheable by the middleware. As @Tratcher pointed out, in case the action uses antiforgery, for validation for example, and is explicitly

[2016-10-11 00:18] Eilon commented on #105
Oh I see, that makes sense.

cc @rynowak to help answer the question in the last paragraph of your recent comment.

[2016-10-14 21:48] rynowak commented on #105
The simple answer to your question is that there isn't an antiforgery middleware. This should be done inside the `IAntiforgery` service, which already does a bunch of stuff, and gets called by MVC regardless of whether or not you already have the cookie.

[2016-10-14 21:50] Tratcher commented on #105
That may not be practical. We have to look at where it's being consumed and how it may conflict with the user setting cache headers.

[2016-10-18 17:20] muratg commented on #105
So what are we doing for 1.1?

[2016-10-18 17:35] Eilon commented on #105
@kichalla can you investigate for 1.1.0? Please work with @rynowak, @Tratcher, @JunTaoLuo to figure this out.

[2016-10-30 00:01] shutdown256 commented on #93
I found a solution to this problem:
After I call:
`await signInManager.PasswordSignInAsync(user, model.Password);`
I must first call:
[code]
then
[code]

This will reset ClaimPrincipal, which in turn resets antiforgery tokens

[2016-11-02 18:08] #104 closed

[2016-11-02 23:16] #105 closed

[2016-11-03 01:36] muratg commented on #105
@JunTaoLuo Can you verify this (response caching + anti forgery).

[2016-11-04 23:48] JunTaoLuo commented on #105
Tested with @sebastienros and it's been fixed.

[2016-11-14 11:15] nukec opened #111 "Antiforgery token works on remote not on localhost"
XSRF-TOKEN is not added on localhost in request headers.

Set-up in Startup.cs:
[code]

Then in Configure method:
[code]

Antiforgery middleware:
[code]

Error:

XSRF type is not added in headers in localhost, so it is impossible to test it on localhost. Works on remote servers though.

Can't seem to figure out this.

[2016-11-17 16:06] strohhut opened #112 "Handling a failed validation"
When I use `UseStatusCodePagesWithReExecute` and get a 404 is there any way I can know that the cause is that the validation of the antiforgery token failed?

I tried getting this information via `Features` but it was no success:

[code]

One thing I found is that normally the following is true inside the `Error` action: `code = Response.StatusCode.ToString()`. It's true for instance when I return

[2016-11-21 12:51] strohhut commented on #112
I found that my `ErrorController` isn't called at all after a failed validation if I have `services.AddAntiforgery` before `services.AddAuthentication(); services.AddAuthorization();` inside `ConfigureServices`.

[2016-11-23 07:38] marlinknlguest opened #113 "How do we configure anti forgery when web api and angular 2 application are different website?"

[2016-12-16 12:33] luisgoncalves opened #114 "Cookies "secure" flag: AntiforgeryOptions.RequiresSsl and HttpRequest.IsSecure"
On the [`DefaultAntiforgeryTokenStore`](https://github.com/aspnet/Antiforgery/blob/rel/1.1.0/src/Microsoft.AspNetCore.Antiforgery/Internal/DefaultAntiforgeryTokenStore.cs#L77) the `AntiforgeryOptions.RequiresSsl` flag is used to configure the "secure" flag of the resulting cookie. If `AntiforgeryOptions.RequiresSsl` is true, than the "secure" flag is enforced.

However, if `AntiforgeryOptions.Requ

[2016-12-20 14:30] hikalkan opened #115 "Skip anti forgery validation for non-browser clients"
As I know, CSRF is only problem for browsers with cookie based authentication (since cookies are sent in a cross site request).

Think that we added global ``AutoValidateAntiforgeryTokenAttribute`` to protect out application. What if we want to use same controllers (API controllers) from a mobile application (or from postman for tests). In that case, we don't want to send antiforgery token in the

[2016-12-20 16:34] brockallen commented on #115
Use tokens instead to protect your endpoints. That's what you have to do if you want to support both browser and non-browser clients.

[2016-12-20 17:08] hikalkan commented on #115
But we may have an MVC project which both provides UI and API in single endpoint. In that case, we would want to apply anti forgery for browsers but not for other clients. I believe many developers in this case.
Also it's native to use token auth for a SPAs, but not always possible for multi-page applications.

[2016-12-20 17:25] brockallen commented on #115
So how do you verify that?

[2016-12-20 17:32] hikalkan commented on #115
I explained it in my first post:

So, if a cross site will make a hack request, then it will automatically send the antiforgery cookie too.

[2016-12-20 20:03] brockallen commented on #115
So then the antiforgery has to know what other cookie to look for to know if should run? G'd luck getting them to agree to this :)

[2016-12-20 20:06] hikalkan commented on #115
My recommendation is so simple: Just return without exception if Cookie is null: https://github.com/aspnet/Antiforgery/blob/dev/src/Microsoft.AspNetCore.Antiforgery/Internal/DefaultAntiforgery.cs#L160
No need to know another cookie. It's already knowing the Cookie which should carry the token.

[2016-12-26 23:57] shaunluttin commented on #105
The commit only sets `no-cache`. Please also set `no-store` to prevent the browser back button from serving a cached page.

[2016-12-27 00:15] GuardRex opened #116 "Question: `no-store` versus `no-cache` for Antiforgery"
This question is related to how caching and Antiforgery was handled for https://github.com/aspnet/Antiforgery/issues/105.

Looking at https://github.com/aspnet/Antiforgery/blob/3fc090e2fee47884af7968031e40876fcb6549ae/src/Microsoft.AspNetCore.Antiforgery/Internal/DefaultAntiforgery.cs#L70-L72 ...

and thus `SetDoNotCacheHeaders()` ...
https://github.com/aspnet/Antiforgery/blob/3fc090e2fee47884af79

[2016-12-27 00:21] shaunluttin commented on #116
Setting `no-store` would help in cases when the user clicks the browser's back button.

[2016-12-27 20:00] JunTaoLuo commented on #116
I suppose the language in the in-line comment isn't completely clear but we wanted to prevent serving cached content when antiforgery is being used. `no-cache` would have been sufficient for this since the response cannot be served unless validated with the origin which should generate a new response. However, as a precaution, we might want to consider also sending `no-store` to prevent any storag

[2016-12-28 00:18] shaunluttin commented on #116
Does that intent include preventing serving cached content when the user clicks the back button?

[2016-12-28 23:38] Eilon commented on #114
I believe the code is correct: if `RequireSsl` is true, *then the cookie will work only on SSL connections*. Otherwise, the cookie may be transmitted on non-SSL or SSL connections.

As to the comment, that's a mystery. It might be a reference to the [`CookiePolicyMiddleware`](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.CookiePolicy/CookiePolicyMiddleware.cs), but looking a

[2016-12-29 00:39] luisgoncalves commented on #114
In a scenario where a page is served over SSL but `RequiresSsl` is false, the anti-forgery cookie may be leaked through a subsequent request to a non-SSL endpoint.

I was just wondering if the value of the `Secure` flag should be set to the value of `HttpRequest.IsHttps` in this case.... A page served over SSL wouldn't be able to POST to non-SSL XSRF-protected endpoints, but that seems a weird sce

[2016-12-29 18:09] Eilon commented on #114
Yeah I see what you're getting at. It might make sense to follow the pattern we have elsewhere with the [`CookieSecurePolicy`](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Abstractions/CookieSecurePolicy.cs) enum, which has more precise and flexible behavior. I'm guessing when we added `CookieSecurePolicy` we didn't look to see everywhere it ought to be applied

[2017-01-03 18:05] muratg commented on #116
I think we should do this one as well.  @Eilon @rynowak thoughts?

[2017-01-12 22:43] Eilon commented on #115
There are no plans to make product changes to enable this. You could choose not to use `AutoValidateAntiforgeryTokenAttribute`, and then selectively enable antiforgery via your own application logic.

[2017-01-12 22:43] #115 closed

[2017-01-12 22:44] Eilon commented on #113
Hi, please see my comment here: https://github.com/aspnet/Mvc/issues/5681#issuecomment-272302665

[2017-01-12 22:44] #113 closed

[2017-01-12 22:46] Eilon commented on #112
Can you provide more info on what you are trying to achieve? Is it to produce a custom error page specifically for antiforgery failures? Or some other scenario?

[2017-01-12 22:49] Eilon commented on #111
Hi, it's not clear to us what this code is trying to do. We don't see where the code is trying to send/receive the XSRF token. For example, the code that calls `context.Items.Add(...)` isn't sending the XSRF token to the client - it's just setting it in a data bag on the request.

Can you tell us more about what you are trying to achieve, and send a more complete code sample?

[2017-01-12 22:52] Eilon commented on #99
Would it be easiest if we just added built-in support for time-limited tokens? It's not clear to us exactly what's going on in the code shown above, but we could certainly look at just building the feature.

[2017-01-12 22:53] Eilon commented on #93
Closing because this appears to be resolved.

[2017-01-12 22:53] #93 closed

[2017-01-12 23:10] GuardRex commented on #99
@Eilon wow ... I forgot about this one. I'm not even working with this any longer. No one else is asking for this, so it seems like this one should be closed.

I was just suggesting that instead of ...
[code]
that method did this ...
[code]
... similar to the way other tests in the method are handled.

... instead of throwing an exception, I was just hoping `tokenGenerator.TryValidateTokenSet()` w

[2017-01-13 17:49] Eilon commented on #99
Ah, ok, no worries! Sorry for taking so long to get back to you on this.

[2017-01-13 17:49] #99 closed

[2017-01-14 11:39] strohhut commented on #112
Currently I require it for logging because I want to know when post requests fail due to Antiforgery. A custom error page would make sense too because on my page post requests fail after a server restart if the page was loaded before the server restart due to Antiforgery.

If there was a server restart recently It would be nice to include something in the error page like "Oops we just made an upda

[2017-01-17 17:58] Eilon commented on #112
@rynowak @Tratcher thoughts on how to handle this cleanly?

[2017-01-17 19:46] Tratcher commented on #112
If your antiforgery is failing due to server restarts then your DataProtection is not setup correctly. Let's address that issue first.

This is the most common cause:
https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#create-a-data-protection-registry-hive

[2017-01-17 21:11] rynowak commented on #112
If this is just about logging we already log this information https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ValidateAntiforgeryTokenAuthorizationFilter.cs#L45

However it does seem useful to be able to handle antiforgery errors in a special way

[2017-01-18 13:18] strohhut commented on #112
@Tratcher
I didn't know that it's supposed to work after restarts. I have `services.AddDataProtection` at the beginning of `ConfigureServices`. I don't know if the problim exists on my prod system (where keys are under HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\ASP.NET\4.0.30319.0\AutoGenKeys\...\DataProtection). I'll test this when I have to make a restart next time.
I'm seing the problem on my dev sy

[2017-01-18 16:22] rynowak commented on #112
@strohhut - agreed, we need to provide some way to know about a failed antiforgery. I was mentioning the logging in case you weren't aware of it.

[2017-01-18 18:36] Tratcher commented on #112
If cookies are working then anti-forgery should be working. It would help if you could capture the error.

The best point of control for this is probably the MVC filter that invokes the service, handles the exception, and generates the response.

[2017-01-26 21:00] #116 closed

[2017-01-31 18:09] danroth27 opened #119 "Clean up antiforgery samples"
Guidance from @blowdart is to not use the angular double cookie support, but instead follow the pattern used in https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.AjaxAntiforgeryAuth.Web.

[2017-02-02 17:53] Eilon commented on #119
We should:

1. Move the sample in this repo to Entropy and rename to `samples/Antiforgery.Angular1` (note the `1` at the end, as opposed to Angular 2)
2. Rename the sample that's already in Entropy from `Mvc.AjaxAntiforgeryAuth.Web` to `Antiforgery.MvcWithAuthAndAjax`
3. Delete the now-empty `samples/` folder of this repo
4. Update the README.md file of this repo to point to the two samples in Ent

[2017-02-03 16:21] rynowak commented on #119
IIRC the reason why the entropy sample isn't here already is due to dependencies.

[2017-02-03 19:12] Eilon commented on #119
@rynowak correct. Our goal is to have the antiforgery samples near each other, which unfortunately means they can't live here.

[2017-02-06 17:19] DalSoft commented on #19
Sorry to resurrect a closed issue, but this is important and needs to be in the documentation. As it stands Antiforgery won't work easily with Azure Websites as far as I can see https://github.com/aspnet/DataProtection/issues/92

[2017-02-06 17:22] blowdart commented on #19
@DalSoft  What do you mean it doesn't work in Azure websites? It works just fine. It doesn't work with slots, but that's Azure's decision not ours, and you can instead use table storage.

[2017-02-06 17:35] DalSoft commented on #19
@blowdart sorry I was reading some older information I can now see there are lots of options blob storage, redis and even the machine key if your still targeting net46.

https://www.nuget.org/packages?q=Microsoft.AspNetCore.DataProtection

If I use a multi instance Azure Web App with ARR off, and don't configure shared storage using one of the packages above does Antiforgery work?

[2017-02-06 17:48] blowdart commented on #19
Azure web sites will share a keyring automatically, however it is not shared between slots, so if you do AB testing, or do a slot swap to get from pre-production to production then the keys change, and everyone gets logged out. That was there in 1.0

Additionally there is no static, config based key any more (like machine key), it's all keyring based, with rotation and automatically generated keys

[2017-02-08 17:42] #119 closed

[2017-02-15 12:29] renevangeffen opened #123 "Invalidate Tokens"
I'm using Antiforgery for a site we're building for a large insurer, I just received the results of a security audit, the auditor insists the request token should be invalidated on each request. I cannot find a way to enforce new tokens for every request. Can someone tell me if this is possible and how? If its not possible would you consider adding it?

[2017-02-15 15:59] rynowak commented on #123
/cc @blowdart

[2017-02-15 17:57] blowdart commented on #123
It's not possible, and it's a little weird to be honest. You'd break tabbed browsing.

I'm somewhat confused about what the auditor thinks this will protect against. The only time I'd invalidate tokens is when authentication happens, at login or at logout and we do that already.

Some reading that supports our approach - https://security.stackexchange.com/questions/22903/why-refresh-csrf-token-per

[2017-02-15 18:23] blowdart commented on #123
Thinking a little more, it would be possible, maybe, by writing a one use data protector (in much the same way we have a time limited data protector), but it'd also take some work inside the anti forgery also. Given the security advantages of this are unclear, I don't think it's something we'd take on, unless we had a clear explanation of what benefits it would give.

[2017-02-16 08:45] renevangeffen commented on #123
Thanks for your reply. Unfortunately the auditor didn't give me an explanation as to why he thinks there should be per-request tokens. I'll forward the information you provided to the auditor.
I'll close the issue because it isn't really an issue. Thanks again.

[2017-02-16 08:45] #123 closed

[2017-02-25 02:24] itanex opened #125 "Configurable HttpOnly Cookie"
### Configurable HttpOnly Cookie
Allow API user to Configure if the cookie generated is HttpOnly or not

### Functional impact
* Allows for use of ValidationToken Facilities in Angular and other frameworks
* Changes Hard coded true value to an optional value

### Minimal repro steps
1. Create an Angular Application and try to call endpoints secured with [ValidateToken] or [AutoValidateToken]
2. An

[2017-03-01 23:13] chrarnoldus commented on #125
Making the cookie created by the DefaultAntiforgeryTokenStore JavaScript-readable wouldn't help, because the token stored in there (the CookieToken) is different from the one the request is validated against (the RequestToken).

Instead, you should send the RequestToken client side, as shown in the following example: https://github.com/aspnet/Entropy/blob/dev/samples/Antiforgery.Angular1/Startup.c

[2017-03-01 23:23] itanex commented on #125
The example does not support usage to variable routes, The example only creates a cookie when the path is  / or /index.html. This is not reusable in an angular app using Html5mode for its routing.

Additionally, Using my example in conjunction with [EditThisCookie](https://chrome.google.com/webstore/detail/editthiscookie/fngmhnnpilhplaeedifhccceomclgfbg?utm_source=chrome-app-launcher-info-dialog)

[2017-03-02 08:01] chrarnoldus commented on #125
In my experience the tokens are different (some information about the user is prepended to the RequestToken), but maybe that's only true when using authentication middleware.

Still, creating a second, JavaScript-readable cookie should solve your problem I think (or sending it to the client by some other means).

[2017-03-02 23:15] Eilon opened #127 "Make antiforgery cookies enable SameSite by default"
See https://github.com/aspnet/Security/issues/908

[2017-03-04 03:01] itanex commented on #125
Having the cookie as HttpOnly does not make it a persistent cookie. HttpOnly makes it so that the cookie only is read by the request handler

A Persistent cookie is a cookie with an expiry date that is not a Session cookie. In the purest sense of the word persistent, "continuing to exist or endure over a prolonged period".

A Session Cookie is a cookie that is destroyed once a browser session is c

[2017-03-04 11:57] chrarnoldus commented on #125
I don't see how you need massive code adjustments. In your example code, remove (https://github.com/itanex/AntiforgeryDemo/blob/master/src/AntiForgeryDemo/Startup.cs#L34)

[code]

and replace (https://github.com/itanex/AntiforgeryDemo/blob/master/src/AntiForgeryDemo/Middleware/AntiForgeryMiddleware.cs#L23)

[code]

by

[code]

and stuff will work. You will have two cookies with different content,

[2017-03-04 22:03] itanex commented on #125
@chrarnoldus

    options.CookieName = "XSRF-TOKEN"

This does nothing but change the AntiForgery Cookie name that is generated. It does not allow AngularJS/React or any other framework to read the cookie.

    antiforgery.GetAndStoreTokens(context);

This creates the tokens and creates the session and cookie. The example code does not allow antiforgery tokens to be handled naturally as the expect

[2017-03-05 01:22] itanex commented on #125
In tests by me and my team we have discovered that our request is superfluous. As it turns out there were several tests including my own which were at fault for the data that spurred this issue.

After cloning and running several painstakingly detailed step-through passes, the cookie that is generated by AntiForgery is not of the value or purpose we need. We discovered that this cookie is in fact

[2017-03-05 01:42] #125 closed

[2017-03-12 23:12] kavinsky- opened #130 "How to use Antiforgery with a JS client on separate subdomain?"
Hi Everyone

I have an ASP.NET Core backend with some Web APIs, and an AngularJS client on separate subdomains (Actually on localhost with different ports), and I can't seem to get Antiforgery to work.

I get **400 Bad request** response on APIs protected with [ValidateAntiForgeryToken], this is my backend code :

[code]

First problem i've got is that the cookie is not set on my AngularJS app, i'

[2017-03-18 22:37] Eilon commented on #130
@kavinsky- perhaps it is the port. Can you try your browser's "debug" tool to see the network calls and whether the header and/or cookie are there? That'll probably tell us what's going on here.

[2017-03-21 04:30] atpyk opened #131 "Handle Anti forgery errors during logging in while already Logged in?"
When a user is Logged in, and goes to Login Page while so. If he tries to login again you get Anti forgery Error.

I try to use filter and middle ware to intercept the "AntiforgeryValidationException", but failed. It always show blank page.

[2017-03-21 07:48] #131 closed

[2017-03-22 21:11] Eilon commented on #111
Closing because there is not enough info to reproduce this issue.

[2017-03-22 21:11] #111 closed

[2017-03-22 21:19] Eilon commented on #130
@kavinsky- which server is creating the XSRF token, and which server is trying to check the XSRF token? They always need to be the same server. For example, the Angular app can't generate the token and then pass is to the Web API app. The app that generates the token has to be the one that accepts the token.

[2017-04-05 09:50] thecarlo opened #134 "RequireSsl not setting cookie to secure"
I'm having great difficulty setting the anti forgery cookie to secure on .NET Core using Microsoft.AspNetCore.Antiforgery 1.1.1.

Setting RequireSsl = true does not set the cookie to secure.

Steps taken to reproduce :
1) Set up Kestrel to use SSL
![kestrel-ssl](https://cloud.githubusercontent.com/assets/5310264/24699843/a4ae041a-19f5-11e7-88d4-ff4fae9d7e67.png)

2) Add AntiForgery middleware
`ser

[2017-04-08 07:26] snluu commented on #116
@kichalla When will the fix for this be released?

[2017-04-09 02:41] Eilon commented on #116
@snluu it will be in the 2.0 release of ASP.NET Core, which will be out later this year. We'll have previews before then, though.

[2017-04-09 02:47] snluu commented on #116
@Eilion :( that's unfortunate. Can we ship this out as a bug fix (1.1.2), or can you suggest a workaround? The page I'm working on requires "no-store", but unfortunately is always overwritten by Antiforgery with "no-cache".

[2017-04-09 02:52] Eilon commented on #116
@snluu I think you should be able to just set that header as well wherever you use anti-forgery, right? You could perhaps encapsulate this in your own filter attribute / HTML helper or wherever it is that you need this.

[2017-04-09 02:57] snluu commented on #116
Antiforgery is able to override that, unfortunately. I have have this class below, and confirmed that the code was executed and set the header, and then the header got overwritten by Antiforgery:
[code]

[2017-04-09 03:25] snluu commented on #116
@Eilon Antiforgery is able to override that, unfortunately. I have have this class below, and confirmed that the code was executed and set the header, and then the header got overwritten by Antiforgery:
[code]

[2017-04-09 15:21] shaunluttin commented on #116
@snluu We have had some success using the following code:

[code]

[2017-04-09 16:15] snluu commented on #116
@shaunluttin, fantastic! Thanks for the workaround.

@Eilon I'm sure a lot of folks will be grateful to have this (and maybe other items with the bug tag) rolled out to an update before 2.0 :)

[2017-04-17 06:16] thecarlo commented on #134
Closing this issue - it seems to have been resolved in the latest release

[2017-04-17 06:16] #134 closed

[2017-05-30 20:34] a-h opened #143 "Load balancing - reducing the Data Protection API configuration overhead"
I've been setting up a .NET Core MVC 6 application to run behind a load balancer. The platform is Docker containers on Linux.

Reading through the configuration for CSRF, it looks like I'd have to setup a Redis cluster, a UNC share or some other service because the CSRF relies on the Data Protection API. (https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview)

[2017-05-31 11:20] a-h commented on #143
I've posted the code here: https://github.com/a-h/AspNetCore.Antiforgery.Aes

[2017-05-31 13:44] a-h commented on #143
Made a package here: https://www.nuget.org/packages/AspNetCore.Antiforgery.Aes

[2017-05-31 14:42] rynowak commented on #143
/cc @blowdart

[2017-05-31 18:01] blowdart commented on #143
So we specifically moved away from a fixed key as a design decision. this would be a step back to the mess that was machine key. Whilst I appreciate the thought and the effort this has the same rotation problem that machine key has. Given DataProtection is used for a bunch of stuff other than CSRF, having CSRF become  config based may end up introducing even more confusion when it works and, for e

[2017-06-01 08:49] a-h commented on #143
Sure, I get the benefit of the key rotation but just so you know why I care about this, this is the thought process:

* Noticed that the new HTML tag helpers render the CSRF validation token by default and assumed that this meant that they also get validated
  - (From my later testing I found that they don't unless you add a global filter or attribute to an individual controller method, which was

[2017-06-02 19:21] NTaylorMullen opened #144 "Enable SHA256.Create() calls to work for desktop applications on FIPS compliant machines."
When unnetcoreappifying our libraries we didn't also enable our `SHA256.Create()` implementations to work under the desktop framework. To do this you need to change `SHA256.Create()` the to the following:

[code]

[2017-06-02 22:16] #127 closed

[2017-06-06 17:24] Eilon commented on #143
@blowdart - would we make any changes in this space? If not, we should close.

[2017-06-06 17:25] Eilon commented on #130
Closing because there is not enough information to reproduce this problem.

[2017-06-06 17:25] #130 closed

[2017-06-07 00:05] NTaylorMullen commented on #144
Self-assigned this because in order to verify I fixed MVC I need to also verify this.

[2017-06-08 17:19] NTaylorMullen commented on #144
bdf115a5ff20b0987b69982405045afdf84d12ff

[2017-06-08 17:19] #144 closed

[2017-06-09 17:09] blowdart commented on #143
I'm learning towards no, unless we get a much greater volume of people saying this sucks right now.

[2017-06-09 17:09] #143 closed

[2017-06-09 22:18] Eilon commented on #86
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:18] #86 closed

[2017-06-09 22:19] Eilon commented on #66
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:19] #66 closed

[2017-06-09 22:19] Eilon commented on #114
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:19] #114 closed

[2017-06-14 21:58] Eilon commented on #76
@Tratcher @blowdart - I believe this still isn't doable in 2.0.0, is that correct?

[2017-06-14 22:04] Tratcher commented on #76
Correct, still backlogged.

[2017-06-17 10:47] dodyg opened #146 "Application startup exception: System.TypeLoadException: Abstract method with non-zero RVA."
```dotnet --version``` returns  ````1.0.4``` (on Windows 10 Creators Update)

The following code:

[code]

and project

[code]

and program.cs
[code]

produces the following error

[code]

[2017-06-17 12:18] dodyg commented on #146
This is how I fixed it:

* I uninstalled the SDK
* Reboot
* Reinstall
* delete the bin and obj folders
* dotnet restore
* dotnet run

[2017-06-17 12:18] #146 closed

[2017-07-03 18:56] natemcmaster opened #149 "Remove obsolete options APIs"
Follow-up to #148

Remove the following obsoleted APIs
[code]

[2017-07-06 17:51] danobri commented on #29
@rynowak I'm using your suggested implementation in an Angular 4 SPA, and am wondering how you reccommend handling token expirations?

[2017-07-06 21:10] rynowak commented on #29
Our tokens currently don't expire unless the user's session times out.

I'd suggest getting a new token every time a user logs in

[2017-07-06 21:18] danobri commented on #29
From what I can tell, that is precisely the problem - the user's session is timing out, and the token is no longer valid.  The site uses windows authentication so there is no explicit log in.  Here is the error I get:

`CryptographicException: The key {...} was not found in the key ring.
Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector.UnprotectCore(Byte[] protectedData,

[2017-07-06 21:20] rynowak commented on #29
Can you please open a new issue for this on aspnet/DataProtection - that sounds like your real problem

[2017-07-06 21:30] danobri commented on #29
Sure - but if you are correct that the AntiForgeryToken expires when a user's session expires, seems like I'll still run into this issue regardless of whether the keyring is properly persisted..?

[2017-07-06 21:36] rynowak commented on #29
That error doesn't have to do with the token expiring.

[2017-07-19 14:24] Jak893 commented on #116
I came across the same issue today and couldn't seem to get the workaround proposed by @shaunluttin to work. In the end I ended up implementing the `IAntiforgery` service and then internally constructing the `DefaultAntiforgery` class, this allowed me to change what I needed in the headers, a little overkill but seems to be working fine for me now.

[code]
Lastly I just registered this in Startup

[2017-07-19 23:52] NTaylorMullen opened #152 "GetAndStoreTokens(...).CookieToken seems to always be null"
Take the following example:

[code]

I'm not confident as to how many valid scenarios utilize the `token.CookieToken` but it's a blatant issue nevertheless.

[2017-07-20 19:01] NTaylorMullen opened #153 "AntiforgeryTokenSet should have a CookieName property"
It has `HeaderName` which is retrievable; it should also have `CookieName`.

[2017-07-20 19:25] NTaylorMullen commented on #152
Did a deep investigation of this and the root cause of the issue Is that we always utilize newly created cookie tokens when creating our AntiforgeryTokenSet… This means that after the first request there’s no “new” cookie token and it therefore returns null.

[2017-07-20 23:25] danobri commented on #29
@rynowak  I was able to resolve the DataProtection error, but I am running into token expirations with users that are testing the application.  I can reproduce the behavior by manually deleting the anti forgery cookies and then trying to make an ajax call.  However, I find if I remove the following, and add the cookie on every response it seems to resolve the issue (at least when I delete the cook

[2017-07-21 06:31] rynowak commented on #29
Can you describe what you mean by this? Do you mean that the browser has lost track of the cookie? Our token's themselves don't have an expiry, but they are attached to the user's identity.

In general you should only need to do this when you user has to log-in/log-out. I don't see a problem with it though.

[2017-07-21 14:02] danobri commented on #29
Right - when I checked the user's machine the cookie was not present.  I am unable to reproduce myself after leaving a browser session overnight.  Occurred to me that the user may have a plugin that is causing cookies to be cleared, but the user indicated the issue occurs both in IE and Chrome on this particular machine.

The application uses windows authentication, so there is no log in form or e

[2017-07-22 02:50] kscott5 commented on #29
@artemgrygor I had moved on after my initial assessment but thank you for responding.

[2017-07-22 16:47] tarurar commented on #29
@rynowak How am I supposed to refresh the antiforgery token(s) after logging in? Could you please show an example?

[2017-07-26 22:55] patricknolan commented on #29
I have an ASPNET Core API \ Angular app. My API needs to support cookies and tokens.

After I login using my service the anti-forgery token returned is not valid as it was created based on a null user. I've  tried setting ClaimsPrincipal after my PasswordSignInAsync and regenerating the anti-forgery token (see below) but that still does not work. Any ideas!

    public virtual async Task<IActionRe

[2017-07-27 00:20] patricknolan commented on #29
I just noticed that this.Antiforgery.GetAndStoreTokens(this.HttpContext); is not changing the value of XSRF-TOKEN. Shouldn't this update based on the fact I have changed the HttpContext.User to be the new principal?

[2017-07-27 03:38] patricknolan opened #155 "Using Antiforgery with ASPNET Core API Login Action"
I have an ASPNET Core API \ Angular app. My API needs to support cookies and tokens.

After I login using my service the anti-forgery token returned is not valid as it was created based on a null user. I've tried setting ClaimsPrincipal after my PasswordSignInAsync and regenerating the anti-forgery token (see below) but that still does not work. Any ideas?

[code]

[2017-07-27 04:07] Eilon commented on #155
@blowdart / @rynowak - this type of question seems to come up fairly often - do we have a doc on exactly how to handle this case?

[2017-07-27 04:08] Eilon commented on #153
@NTaylorMullen - any idea of a scenario where this might matter a lot? Or is it more about consistency and/or theoretical case?

[2017-07-27 04:16] patricknolan commented on #155
Thanks @Eilon any doco would be great. I've spent hours trawling forums and posts but there doesn't seem to be a documented solution even though many people seem to have this issue.

[2017-07-27 04:40] blowdart commented on #155
Strange, re-gening it should work. @NTaylorMullen was looking at this recently. Taylor did you think GetAndStoreToken() didn't create a new one?

[2017-07-27 06:30] patricknolan commented on #155
The following forces the token to regenerate

[code]
However, I still get the following error

[2017-07-27 06:36] patricknolan commented on #155
Some additional info... even thought the token regenerates, GetAndStoreTokens does not update the existing cookie. To add the new token I have to do the following

[code]

_Additional Info..._

**HttpContext Response Cookies on entering the login method**

**HttpContext Response Cookies on entering the login method**

As you can see the Cookie delete method set the original XSRF-TOKEN cookie to ex

[2017-07-27 06:56] NTaylorMullen commented on #153
In scenarios where cookies may have been reconstructed prior to sending a request you have to rely on convention (setting a magic string on both the client and server) to get Antiforgery to work. It's uncommon but occurs in JavaScript/custom http clients/other API services that don't maintain cookies across requests.

[2017-07-27 07:15] NTaylorMullen commented on #155
Within the context of a single request tokens are only generated / set once. Therefore, if you `store tokens => login => store tokens` the second storing will be ignored.  I'm not 100% confident as to why we chose this model but I'd bet it's to ensure reliability in subsystems that retrieve the antiforgery token for form data posting. For example imagine:

1. Request a view
2. Token is created/sto

[2017-07-27 20:25] Eilon commented on #153
What exactly does that mean? Wouldn't the client just have to use whatever cookie name the server is expecting?

[2017-07-27 22:04] NTaylorMullen commented on #153
Yes, that's the "magic string" part of it. For example see this reconstruction of a request:

[code]

Basically, you configure antiforgery in your startup and then you have no way to retrieve what the `CookieName` was configured to.

[2017-07-28 02:14] sagoo33 commented on #155
Hello, I was also receiving the "Antiforgery token validation failed. The provided antiforgery token was meant for a different claims-based user than the current user." error.

I have a multi page angular and perform the login via an angular call (which worked fine) but any other subsequent POST would fail with the above message.

I needed to set the context with the logged in user prior to adding

[2017-07-28 03:02] patricknolan commented on #155
Hi @sagoo33 this is actually the same code I posted above. This will not work if you're anti-forgery token in being set prior to entering your action (e.g. code below). Once the token is set, as @NTaylorMullen stated above, GetAndStoreTokens will not store a new token.

[code]

At present the only solution I can see is to set the anti-forgery token on exiting the action via an action result filter

[2017-08-03 20:17] iwollmann commented on #155
I am stuck right now at this same problem, I imagine if we could have the old option to ignore the identity: [SuppressIdentityHeuristicChecks](https://msdn.microsoft.com/en-us/library/system.web.helpers.antiforgeryconfig.suppressidentityheuristicchecks(v=vs.111).aspx)

[2017-08-04 17:28] openidauthority opened #156 "SetDoNotCacheHeaders overwrites headers that are more restrictive"
If a user has set the Cache-Control header for a page, the form tag helper will overwrite the headers. In some cases this is appropriate, but if the Cache-Control header specifies a restriction such as no-store or must-revalidate, the antiforgery system **wipes this out**. This can open security holes in an application. Here is the relevant code as currently implemented:

        private void SetD

[2017-08-04 17:45] blowdart commented on #156
@Eilon we should address this in 2.1, by splitting the cache control header apart, checking for no-cache and no-store, and appending them to the existing header (if any) rather than just blowing the header away. Forcing the Pragma header is fine, because it only has one value anyway :)

[2017-08-05 03:27] shairozan commented on #143
I'm going to be clear that this sucks. I haven't worked with a modern framework in any language that forces this issue back into infrastructure when it could be handled via configuration. I get your point that systems other than CSRF use the data protection API, but I second the notion that I would rather manage key rotation myself than add an entire subsystem in infrastructure to manage this.

[2017-08-06 12:33] chintan3100 opened #157 ".net core :Missing option SuppressIdentityHeuristicChecks / How to generate token without consider user identity"
I am working with SPA which communicates with .net core web API. UI and API both are on a different domain.
On login API I am generating JWT token + anti-forgery token but this token is not valid due to identity set to "".
There should option like SuppressIdentityHeuristicChecks = false.

Is there any other way?
For temporary soluton.
I created separate API which generates anti-forgery token. So a

[2017-08-06 13:17] chintan3100 commented on #155
I am getting the same issue. Any work around instead of calling API to get token after login
https://github.com/aspnet/Antiforgery/issues/157

[2017-08-07 18:02] Eilon commented on #155
@javiercn - can you look into this? I think we need to do at least a couple of things:

1. Make sure the default ASP.NET Core templates do "the right stuff" during login and logout.
2. Add any new helper APIs that make this scenario easier (or fix bugs if there are bugs).

I'm hoping that we can make this "so easy" that there's nothing to document.

[2017-08-07 18:21] blowdart commented on #155
Once we get to token auth this will go away, as long as you're using tokens of course.

I'd be weary of bringing back  SuppressIdentityHeuristicChecks, it's a nightmare.

[2017-08-18 15:58] Swazimodo opened #158 "Could not update package from 1.1.2 to 2.0.0 with .NET framework 4.7"
I was trying to update all packages for my MVC project to the new 2.0.0 ones and I got the following error message. Is there a target timeline to have support for .NET 4.7?

Could not install package 'Microsoft.AspNetCore.Antiforgery 2.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7'

[2017-08-18 15:59] rynowak commented on #158
If there any more detail that you can provide about what's failing? You may need to upgrade your nuget version to support netstandard20

[2017-08-18 16:14] Swazimodo commented on #158
Here is my version information for VS and NuGet.

VS Pro 2017: v15.2 (26430.16) Release
NuGet Package Manager: v4.2.0

[2017-08-18 16:20] Swazimodo commented on #158
Restoring packages for C:\TFS\[Project Path]\src\[MVC].csproj...
  GET https://api.nuget.org/v3-flatcontainer/microsoft.aspnetcore.routing/index.json
  GET https://api.nuget.org/v3-flatcontainer/microsoft.aspnetcore.session/index.json
  GET https://api.nuget.org/v3-flatcontainer/microsoft.extensions.configuration.environmentvariables/index.json
  GET https://api.nuget.org/v3-flatcontainer/microsof

[2017-08-18 20:17] rynowak commented on #158
The issue here is that the version of NuGet in 15.2 doesn't have support for netstandard 2.0 You'll need to upgrade NuGet. For VS 2017, this means getting update 15.3 which is available now.

[2017-08-18 20:28] Swazimodo commented on #158
Thanks I'll look into how to get that. Currently I do not see any available updates.

[2017-08-18 21:57] rynowak commented on #158
Downloading and re-running the appropriate installer should prompt you to update https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes

[2017-08-18 21:57] rynowak commented on #158
Closing this since it's a nuget issue. If this isn't resolved by upgrading let us know.

[2017-08-18 21:57] #158 closed

[2017-08-18 22:21] Eilon commented on #112
We're looking to improve this experience for MVC in https://github.com/aspnet/Mvc/issues/6678. For antiforgery cases outside of MVC, it's up to whoever calls antiforgery to flow errors however they want.

[2017-08-18 22:21] #112 closed

[2017-08-21 21:04] zygimantas opened #159 "Protocol validation"
### Actual result

If a reverse proxy is used, it's a common practice to terminate SSL on IIS/Nginx. Sometimes there is no practical need make secure connection between reverse proxy and Kestrel (public/private key distribution, storing certificate password, etc.).

There is a cookie flag "Secure" (wikipedia: A secure cookie can only be transmitted over an encrypted connection (i.e. HTTPS). They c

[2017-08-21 22:05] Swazimodo commented on #158
This solved the issue. Thanks for your help.

[2017-08-22 05:14] Tratcher commented on #159
We address this across the stack by having the reverse proxy forward the original scheme in an x-forwarded-proto header. The UseForwardedHeaders middleware reads these and modifies the request accordingly. See the samples in the BasicMiddleware repo. UseIISIntegration wires this up by default for IIS scenarios.

[2017-08-22 05:14] #159 closed

[2017-08-25 10:19] stephtr opened #160 "Remove Antiforgery field from model before being handled by MVC"
When using an `IDictionary` as model in MVC, for example like:
[code]
`viewData` contains the `__RequestVerificationToken` field. This is particularly impractical if one instead uses an `IDictionary<int, int>`, which then produces a middleware exception.
I know that it is possible to wrap the `IDictionary` in a class, but wouldn't it be more useful to automatically remove the field before it reach

[2017-08-28 17:05] Eilon commented on #160
This is very odd to me... I wouldn't have expected an action method parameter such as `IDictionary<string, string> viewData` to bind anything at all because there's nothing posted named `ViewData`.

@rynowak - any idea on this? How would anything at all show up in that dictionary?

@stephtr - or, I don't suppose you have some custom model binder or formatter in operation here, do you? Something th

[2017-08-28 17:36] stephtr commented on #160
I reduced the code to a new mvc app (`dotnet new mvc`) with two additions:
[code]

``

[2017-08-30 21:05] Eilon commented on #160
@kichalla can you investigate?

[2017-09-01 07:49] stephtr commented on #160
Just for information: I have additionally opened an [issue at Mvc](https://github.com/aspnet/Mvc/issues/6744).

[2017-09-01 16:53] Eilon commented on #160
I looked into this, and this specific aspect is by design - the antiforgery middleware shouldn't be "hiding" its post data from other middleware components.

[2017-09-01 16:53] #160 closed

[2017-09-01 16:54] stephtr commented on #160
Thanks for looking into it!

[2017-09-18 05:12] BharatRajMeriyala commented on #134
When you say latest release, can you tell me which version? is that 1.1.2? Since 2.0.0 is compatible with Dotnet Core 1.1. Please guide me.

[2017-10-31 21:52] mattvperry opened #166 "Allow customization of ClaimUid extraction"
In the event that the claims which you look for in the current identity (sub, nameid, upn) don't exist you fallback on hashing all claims. All claims most likely includes expiry/issuance dates which change frequently. The end result being that antiforgery tokens which last across token refreshes will be wrongly invalidated.

My suggestion would be to add a setting which describes an alternate clai

[2017-11-01 13:59] jchannon commented on #155
I'm hitting something similar, I do

[code]

Auth and XSRF and Antiforgery cookies returned. Angular does a POST with a X-XSRF-HEADER and I get `The provided antiforgery token was meant for a different claims-based user than the current user.`

Is the advice to call another endpoint after login which returns the XSRF & Antiforgery cookies?

[2017-11-01 16:19] jchannon opened #167 "SignoutAsync doesn't remove Antiforgery cookie"
Calling `SignOutAsync("MyCookieMW", authProperties);` only removes the authentication cookie in the app not the antiforgery cookie that is created.

[2017-11-02 19:55] Eilon commented on #167
@blowdart / @rynowak - this seems reasonable to me in principle, though the two features are not directly related. Thoughts on this?

[2017-11-02 20:34] Eilon commented on #166
@blowdart / @Tratcher / @rynowak - thoughts on adding an option for this?

[2017-11-02 23:38] rynowak commented on #167
It seems like an improvement to me. Your cookie won't be valid after your identity changes.

Not sure off the cuff how we'd accomplish this, but it's worth a look.

-------

However, if we do implement something like it doesn't mean that applications/frameworks can rely on it. It's just a nicety

[2017-11-02 23:40] rynowak commented on #166
This is possible to do with pubternal today: https://github.com/aspnet/Antiforgery/blob/dev/src/Microsoft.AspNetCore.Antiforgery/Internal/IClaimUidExtractor.cs

This would be easy to clean up and document if we think it's valuable. I believe this was possible in System.Web

[2017-11-02 23:57] mattvperry commented on #166
Yeah, overriding that was how I worked around the issue. However, IMO, depending on the shape of anything in the `.Internal` namespaces seems like a code smell since you guys probably feel more comfortable changing thing at will in there.

[2017-11-03 00:51] rynowak commented on #166
Yeah this is exactly correct. We want you to be able to unblock yourself, but over time APIs will migrate from `.Internal` to the mainline areas as we get requests for improvements.

If you find more cases like this feel free to give us feedback. It's definitely intended that we polish and move `.Internal` code into public areas if there is a good reason for you to use it. 👍

[2017-11-03 07:03] jchannon commented on #167
As a side note when you say your forgery cookie won't be valid when the
identity changes does this apply to sliding auth to? From what I've
experienced this isn't the case ie cookie auth cookie regenerates after X
minutes due to sliding auth but I can still post data successfully.

On Thu, 2 Nov 2017 at 23:38, Ryan Nowak <notifications@github.com> wrote:

[2017-11-04 00:41] rynowak commented on #167
Actually I spoke wrongly before. The cookie token is a unique token that acts like a salt. It's the 'request' (usually form-data) token that contains the claim-related data.

[2017-11-04 12:56] brockallen commented on #167
Perhaps what should happen is the anti-forgery should check if the current forgery token matches the current authenticated user, and if not ignore the cookie for the incoming request, and remove it on the response.

[2017-11-08 05:42] MelbourneDeveloper commented on #158
I'm getting this exact issue.

Update-Package : Could not install package 'Microsoft.AspNetCore.Authorization
2.0.0'. You are trying to install this package into a project that targets
'.NETFramework,Version=v4.7'

[2017-12-12 10:24] drauch opened #170 "Exception handler also throws"
In case the AntiForgeryToken cannot be decrypted the antiforgery infrastructure throws an exception which is handled (in my ASP.NET Core pipeline) using `app.UseExceptionHandler("/Error")`. However, the Error page cannot be rendered as the antiforgery infrastructure again throws - although the request is no longer really a POST request now...is there a workaround?

[2017-12-12 10:53] drauch commented on #170
Hm, I needed to put [IgnoreAntiforgeryToken] on my error action.

[2017-12-12 10:53] #170 closed

[2017-12-12 11:13] drauch opened #171 "Tampered antiforgery token should not result in InvalidOperationException"
If the antiforgery token is missing, the antiforgery infrastructure correctly returns BadRequest. However, if the antiforgery token cannot be parsed by the cryptography infrastructure below (e.g., because it has been tampered with by a malicious user) an InvalidOperationException bubbles up.

This is bad style because it returns a 500 HTTP status code instead of 400. It also triggers our operation

[2017-12-12 17:50] mkArtakMSFT commented on #171
Hi @drauch, is this happening as part of the default Anti-Forgery feature? Or are you calling to Anti-Forgery directly?

[2017-12-12 17:51] mkArtakMSFT commented on #171
Chaning the exception type would be a breaking change, but there is an alternative to handle it in the filter.

[2017-12-12 19:53] drauch commented on #171
As a workaround we are now installing a decorator for the `DefaultAntiforgery` `IAntiforgery` service which translates `InvalidOperationException`s to `AntiForgeryException`s which are then in turn handled by the filter correctly (by returning a 400 BadRequest). It feels really weird to catch an `InvalidOperationException`...I'd still mark it as a bug in the antiforgery infrastructure.

[2017-12-14 10:45] jchannon opened #172 "Make HTTP method configurable"
Currently Antiforgery returns true when validating a request if the method is:

"GET"
"HEAD"
"OPTIONS"
"TRACE"

Would you be open to making these configurable in that if a user wants GET requests to be validated they can set that in the options?

[2017-12-14 17:24] rynowak commented on #172
I think it's a reasonably request for us to make this customizable. I'm curious though, why do you want to validate `GET`?

We generally don't care about validating `GET` because if you're doing state changes on a `GET` the you've already got problems.

[2017-12-14 17:39] jchannon commented on #172
I've just thought it through and I'm not sure it will help me in what I was
thinking of using it for.

We've had a "security team" say that you can log into the app, copy the
cookie value, logout then use that cookie value to initiate a curl request
and get data to be a problem.  Me pointing out that with https turned on
the only way you can get that cookie is if you are sat at the users desk or
c

[2017-12-14 17:51] rynowak commented on #172
The antiforgery library is a mitigation against **CS**RF attacks - which emphasis on the **CS** which stands for **cross-site**. It is meant to protect your users from **another site** getting their client to send a post to your site and modify data using their credentials. It's not general purpose access control.

@blowdart @Tratcher  do you care to respond to this comment:

Generally yes, if you

[2017-12-14 17:54] jchannon commented on #172
Yup understand. Shame I have to put in place something that adds no
security value and slows my app down for the sake of ticking a box

On Thu, 14 Dec 2017 at 17:51, Ryan Nowak <notifications@github.com> wrote:

[2017-12-14 18:05] blowdart commented on #172
You know your security team sucks :)

You could take the approach identity does, embed a guid in your auth cookie, and keep the corresponding value against the user. Then when the user logs out you change the guid, and check the value in the cookie on every request, but yea, it's going to be slow.

Honestly I'd push back against your security team as you have done (no surprises there) and point ou

[2017-12-19 08:09] #172 closed

[2017-12-21 05:25] dexterhussain opened #173 "An exception was thrown while deserializing the token on Ubuntu"
We are developing a project using anti-forgery in dotnet core 2.0 . We are making this project on windows machine no redis nothing but as soon as I publish this to ubuntu it gives me these errors,

: Microsoft.AspNetCore.Antiforgery.Internal.DefaultAntiforgery[7]
An exception was thrown while deserializing the token.
System.InvalidOperationException: The antiforgery token could not be decrypted. -

[2017-12-21 05:25] dexterhussain commented on #173
Gives no errors on Windows Development Machine

[2017-12-26 14:25] verysimplenick opened #174 "Antiforgery and subdomains"
Hi, I write asp.net core app that serves 2 subdomains. I change request and links generated that transfer requests subdomain to the subfolder, everything is ok, but sometimes I have troubles with anti-forgery:

[code]

In Startup:
[code]

[2017-12-27 17:13] mkArtakMSFT commented on #174
@verysimplenick, what do you mean by "sometimes"? Does the same scenario work sometimes, and not the other times?
Also, would be great to get information about your app structure and how that maps with multiple subdomains?

[2017-12-27 17:50] mkArtakMSFT commented on #173
@dexterhussain, can you please share a project with a repro?
@blowdart, any thoughts regarding this?

[2017-12-27 19:14] blowdart commented on #173
Did you configure data protection yet? On linux there's no safe way for data protection to store keys, unlike on Windows, so you need to make a specific choice on how you want your keys saved.

Start with the file system, then layer an X509 certificate on top if you feel it's needed. https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?tabs=aspnetcore2x

[2017-12-27 21:48] Tratcher opened #175 "Determine if the antiforgery cookie is considered essential"
RE: aspnet/Security#1561

When this new policy is applied all non-essential cookies will be suppressed. We need to determine if anti-forgery is considered essential by default. I expect yes as it's a security feature.

@blowdart

[2017-12-27 22:38] rynowak commented on #175
I also expect yes.

[2017-12-28 00:39] blowdart commented on #175
Yup, essential

[2017-12-28 19:18] mkArtakMSFT commented on #175
Thanks guys. Agree, this should be marked as essential. I'm updating the title and assigning to someone to make the actual change.

[2017-12-28 19:23] mkArtakMSFT commented on #175
Hi @kichalla. Can you please mark the antiforgery cookie as "essential"?

[2017-12-28 19:56] Tratcher commented on #175
Preview2? @blowdart isn't the rest of this feature going into preview1?

[2017-12-28 22:59] blowdart commented on #175
I believe so, but it's a question for @DamianEdwards though

[2017-12-29 07:53] verysimplenick commented on #174
It's strange but I can't reproduce now.
I think to close this for now. If it can be reproduced I will reopen and upload a sample.

[2017-12-29 07:53] #174 closed

[2018-01-01 20:19] aspnet-hello commented on #175
This issue was moved to aspnet/Home#2408

[2018-01-01 20:19] #175 closed

[2018-01-01 20:19] aspnet-hello commented on #173
This issue was moved to aspnet/Home#2409

[2018-01-01 20:19] #173 closed

[2018-01-01 20:19] aspnet-hello commented on #171
This issue was moved to aspnet/Home#2410

[2018-01-01 20:19] #171 closed

[2018-01-01 20:20] aspnet-hello commented on #167
This issue was moved to aspnet/Home#2411

[2018-01-01 20:20] #167 closed

[2018-01-01 20:20] aspnet-hello commented on #166
This issue was moved to aspnet/Home#2412

[2018-01-01 20:20] #166 closed

[2018-01-01 20:20] aspnet-hello commented on #157
This issue was moved to aspnet/Home#2413

[2018-01-01 20:21] #157 closed

[2018-01-01 20:21] aspnet-hello commented on #156
This issue was moved to aspnet/Home#2414

[2018-01-01 20:21] #156 closed

[2018-01-01 20:21] aspnet-hello commented on #155
This issue was moved to aspnet/Home#2415

[2018-01-01 20:21] #155 closed

[2018-01-01 20:21] aspnet-hello commented on #153
This issue was moved to aspnet/Home#2416

[2018-01-01 20:21] #153 closed

[2018-01-01 20:21] aspnet-hello commented on #152
This issue was moved to aspnet/Home#2417

[2018-01-01 20:21] #152 closed

[2018-01-01 20:22] aspnet-hello commented on #149
This issue was moved to aspnet/Home#2418

[2018-01-01 20:22] #149 closed

[2018-01-01 20:22] aspnet-hello commented on #76
This issue was moved to aspnet/Home#2420

[2018-01-01 20:22] #76 closed

[2018-01-01 20:23] aspnet-hello commented on #36
This issue was moved to aspnet/Home#2421

[2018-01-01 20:23] #36 closed

[2018-01-02 22:26] Eilon opened #176 "THIS ISSUE TRACKER IS CLOSED - use the Home repo issue tracker"
Hello, this issue tracker is no longer used. Please log new issues here: https://github.com/aspnet/Home/issues

For information about this change, see https://github.com/aspnet/Announcements/issues/283

[2018-03-22 12:04] j-hudecek commented on #174
Hi, I've just seen the exact same exception on .net core 2.0.6. Have you figured out what was the problem?

	ex: System.InvalidOperationException: The antiforgery token could not be decrypted. ---> System.FormatException: TODO: Malformed input.
		at Microsoft.AspNetCore.WebUtilities.WebEncoders.GetNumBase64PaddingCharsToAddForDecode(Int32 inputLength)
		at Microsoft.AspNetCore.WebUtilities.WebEnco

[2018-03-22 12:36] verysimplenick commented on #174
I can't reproduce, I don't know that helps, try rebuild and refresh page\token.
If you running `dotnet watch` - maybe the token is already changed

[2018-03-22 12:44] j-hudecek commented on #174
I also can't reproduce it there's thousands of POSTs that go just fine and then there is this one and nothing seems special about it.

[2018-05-24 19:27] robertmiles3 commented on #174
I just hit this, and can reproduce it. If I submit a form with only a few items in the list selected to update (less form data posting back), then it works fine. If I submit a form with a lot of items selected to update, then it bombs every time. It has something to do with the amount of data posting back. I've tried messing with `FormOptions` and it does no good.

[2018-05-24 20:15] robertmiles3 commented on #174
Actually, just found the issue, and it wasn't form size related after all. I had accidentally done a nested `<form>` in the list. ASP.NET Core is smart enough to not render that inner `<form>` tag, but it _did_ render extra anti-forgery tokens all throughout the place. I think this was then causing the postback to freak out with all the extras.

[2018-06-03 20:32] biggyspender commented on #115
This strategy is a failure because while the antiforgery token is delivered as a session cookie, the authentication cookie might have a considerably longer lifespan.

        protected override bool ShouldValidate(AuthorizationFilterContext context)
        {
            if (!base.ShouldValidate(context))
            {
                return false;
            }

            //No need to validate

[2018-09-12 09:49] MrComic commented on #29
Same Here, It doesn't change the xsrf token if  HttpContext.User Changes After login
here's my description :
https://stackoverflow.com/questions/52290736/xsrf-token-conflicts-with-jwt-token

[2018-10-24 20:40] Eilon commented on #100
@alexsandro-xpt the tokens will definitely work across machines in a cluster if the machines are configured correctly for a web farm. Here's a doc on this topic: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/web-farm?view=aspnetcore-2.1

In particular, the "Data Protection" section is what is relevant to anti forgery tokens.

[2018-11-08 14:16] schmitch commented on #115
@biggyspender however that case could be prevented, if ShouldValidate would actually check the Auth Cookie **and** the CSRF Token.

[2018-11-21 23:48] #176 closed